<!-- particles.js container -->
<particles [params]="particalParams" [style]="particalStyle"></particles>

<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles"></span>
</div>

<div class="main">
  <div class="login-box">
    <div class="logo">
      <img src="../assets/img/logo.png">
    </div>
    <h1>Welcome</h1>
    <div class="form-inner" (keyup.enter)="login()">
      <h2>Sign In</h2>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" (keyup)="changedExtraHandler()" class="custom-input"
        placeholder="Username">
      <p class="tooltip info"><img src="../assets/img/info.png">
        <span class="tooltiptext">
            <b>Logging in for the first time?</b>
            <br/>
            <i>
              Please obtain your username and password from your parents/guardians. Your login details were sent to your parents/guardians at the time they registered and added you to their account.
            </i>
          </span>
      </p>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" (keyup)="changedExtraHandler()"
        class="custom-input" placeholder="Password">
      <div class="remember-me">
        <input type="checkbox" id="test2" (change)="setRememberMe($event)" checked="checked" />
        <label for="test2">Remember Me</label>
        <div id="login-error"></div>
      </div>
      <div class="submit-events">
        <button type="button" class="round-btn" (click)="login()" id="signIn">Login</button>
        <span [routerLink]="['/forgotPassword']">Forgot Username/Password?</span>
      </div>
    </div>
    <!--<div class="form-footer">
      <p>By clicking Sign In, you agree to InvolvEdTech's <br><strong><a href="https://www.involvedtech.co.uk/docs/PrivacyPolicy.pdf" target="_blank">Privacy Policy</a></strong> and <strong><a href="https://www.involvedtech.co.uk/docs/TermsAndConditions.pdf" target="_blank">Terms and Conditions</a></strong></p>
    </div>-->

  </div>
  <p class="copyright">Copyright © 2017 InvolvEdTech. All Rights Reserved.</p>
</div>
