<!-- particles.js container -->
<particles [params]="particalParams" [style]="particalStyle"></particles>

<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles"></span>
</div>

<div class="main">
  <div class="login-box">
    <div class="logo">
      <img src="../assets/img/logo.png">
    </div>
    <h1>Welcome</h1>
    <form (ngSubmit)="login()" ngNativeValidate>
      <div class="form-inner">
        <h2>Sign In</h2>
        <input type="text" name="username" [(ngModel)]="user.username" class="custom-input" placeholder="Username" required>
        <input type="password" name="password" [(ngModel)]="user.password" class="custom-input" placeholder="Password" required>
        <div class="remember-me">
          <input type="checkbox" id="test2" checked="checked" />
          <label for="test2">Remember Me</label>
          <div id="login-error"></div>
        </div>
        <div class="submit-events">
          <button type="submit" class="round-btn">Sign In</button>
          <span [routerLink]="['/forgotPassword']">Forgot Password</span>
        </div>
      </div>
    </form>
    <div class="form-footer">
      <p>By clicking Sign In, you agree to InvolvEdTech's <br><strong>Privacy Policy</strong> and <strong>Terms and Conditions</strong></p>
    </div>
    <p class="copyright">Copyright © 2017 InvolvEdTech. All Rights Reserved.</p>
  </div>

</div>
