<!-- <div>
  <chart [options]="options" class="chart-hight">
  </chart>
</div>
 -->
<div class="performance">
  <table>
    <tr>
      <th>Subject</th>
      <th>Attendance</th>
      <th>Target</th>
      <th>Grade</th>
    </tr>
    <tr *ngFor='let subject of subjectsData; trackBy: index;' (click)="getSubjectDetails(subject.Id)">
      <td>
        <div class="table-profile-pic"></div>
        <div class="subject-name">
          <p>{{subject.SubjectName}}</p>
          <span *ngFor="let teacher of subject.ClassTeachers; trackBy: index;let last = last">{{teacher.Name}}<b *ngIf="!last">,</b> </span>
        </div>
      </td>
      <td>
        <p class="success">{{subject.Performance.Column1.Value}} {{subject.Performance.Column1.Trend}}
          <span class="up" *ngIf="subject.Performance.Column1.Trend == 1"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
          <span class="down" *ngIf="subject.Performance.Column1.Trend == 3"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </p>
      </td>
      <td>
        <p class="black">{{subject.Performance.Column2.Value}}</p>
      </td>
      <td>
        <p class="success">{{subject.Performance.Column3.Value}}<span class="up"></span></p>
      </td>
  </table>
  <!-- Trigger/Open The Modal -->
  <!-- The Modal -->
  <div id="performance-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>Student Name</p>
      </div>
      <div class="modal-body">
        <div class="modal-table">
          <table>
            <tr>
              <th>Subject</th>
              <th>Attendance</th>
              <th>Target</th>
              <th>Grade</th>
            </tr>
            <tr>
              <td>
                <div class="table-profile-pic"></div>
                <div class="subject-name">
                  <p>Subject Name</p>
                  <span>Teacher Name A, Teacher Name B</span>
                </div>
              </td>
              <td>
                <div class="rating-outer">
                  <div class="value">
                    <p class="danger arrow-bottom">88% <span class="down"><i class="fa fa-caret-down" aria-hidden="true"></i></span></p>
                  </div>
                  <svg ng-if="Attendance != '' &amp;&amp; Attendance != null" xmlns="http://www.w3.org/2000/svg" width="297mm" height="210mm"
                    viewBox="0 0 1052.3622 744.09448">
                    <g color="#000" fill="none" stroke-width="24">
                      <path id="carbs1" style="isolation: auto; mix-blend-mode: normal; stroke-dashoffset: 133px;" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#b981d1"></path>
                    </g>
                  </svg>
                </div>
              </td>
              <td>
                <div class="rating-outer">
                  <div class="value">9C</div>
                  <svg ng-if="TargetGrade != '' &amp;&amp; TargetGrade != null &amp;&amp; TargetGrade != undefined" xmlns="http://www.w3.org/2000/svg"
                    width="297mm" height="210mm" viewBox="0 0 1052.3622 744.09448">
                    <g color="#000" fill="none" stroke-width="24">
                      <path id="proteins" style="isolation:auto;mix-blend-mode:normal" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#48CAE5"></path>
                    </g>
                  </svg>
                </div>
              </td>
              <td>
                <div class="rating-outer">
                  <div class="value">8B</div>
                  <svg ng-if="LastGrade != '' &amp;&amp; LastGrade != null" xmlns="http://www.w3.org/2000/svg" width="297mm" height="210mm"
                    viewBox="0 0 1052.3622 744.09448">
                    <g color="#000" fill="none" stroke-width="24">
                      <path ng-show="GradeTrend == 1" id="fat1" style="isolation:auto;mix-blend-mode:normal" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#ff7800" class="ng-hide"></path>
                      <path ng-show="GradeTrend == 3" id="fat2" style="isolation:auto;mix-blend-mode:normal" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#ff7800"></path>
                      <path ng-show="GradeTrend == 2" id="fat3" style="isolation:auto;mix-blend-mode:normal" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#ff7800" class="ng-hide"></path>
                      <path ng-show="GradeTrend == 0" id="fat4" style="isolation:auto;mix-blend-mode:normal" d="M874.322 370.115a350.75 350.75 0 0 1-350.75 350.75 350.75 350.75 0 0 1-350.752-350.75 350.75 350.75 0 0 1 350.75-350.75 350.75 350.75 0 0 1 350.752 350.75z"
                        overflow="visible" solid-color="#000000" stroke="#ff7800" class="ng-hide"></path>
                    </g>
                  </svg>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="graph">
          <chart [options]="options" class="chart-hight">
          </chart>
        </div>
      </div>

    </div>
  </div>
</div>
