<!-- <div>
  <chart [options]="options" class="chart-hight">
  </chart>
</div>
 -->
<div class="performance dashboard-table">
  <table class="fixed-header" *ngIf="subjectsData != undefined">
    <thead>
      <tr>
        <th class="lft-subject"><span>Subject</span>
          <a href="{{PerformanceGradeUrl}}" target="_blank">
            <img src="../assets/img/info-w.png">
          </a>
        </th>
        <th>{{subjectsData[0].Performance.Column1.Header}}</th>
        <th>{{subjectsData[0].Performance.Column2.Header}}</th>
        <th>{{subjectsData[0].Performance.Column3.Header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjectsData;">
        <td>
          <div></div>
          <div class="table-profile-pic lft" id="t{{subject.Id}}" *ngIf="subject.ClassTeachers.length != 0">
            <img class="teacher-image" *ngFor="let teacher of subject.ClassTeachers" [src]="'data:image/png;base64,'+teacher.Image" />
          </div>
          <div class="table-profile-pic lft" id="t{{subject.Id}}" *ngIf="subject.ClassTeachers.length == 0">
          </div>
          <div class="subject-name lft" id="{{subject.Id}}">
            <p class="first">{{subject.SubjectName}}</p>
            <span class="second" *ngFor="let teacher of subject.ClassTeachers; trackBy: index;">{{teacher.Name}}</span>
          </div>
        </td>
        <td>
          <p class="success" *ngIf="subject.Performance.Column1.Value != null" [ngStyle]="{ 'color': getColor(subject.Performance.Column1.Trend)}">{{subject.Performance.Column1.Value}}{{subject.Performance.Column1.Unit}}
            <span class="up" *ngIf="subject.Performance.Column1.Trend == 1">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </span>
            <span class="down" *ngIf="subject.Performance.Column1.Trend == 3">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </span>
          </p>
        </td>
        <td>
          <p class="black" *ngIf="subject.Performance.Column2.Value != null" [ngStyle]="{ 'color': getColor(subject.Performance.Column2.Trend)}">{{subject.Performance.Column2.Value}}{{subject.Performance.Column2.Unit}}
            <span class="up" *ngIf="subject.Performance.Column2.Trend == 1">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </span>
            <span class="down" *ngIf="subject.Performance.Column2.Trend == 3">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </span>
          </p>
        </td>
        <td class="graph-td">
          <p class="success" *ngIf="subject.Performance.Column3.Value != null" [ngStyle]="{ 'color': getColor(subject.Performance.Column3.Trend)}">{{subject.Performance.Column3.Value}}
            <span class="up" *ngIf="subject.Performance.Column3.Trend == 1">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </span>
            <span class="down" *ngIf="subject.Performance.Column3.Trend == 3">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </span>
          </p>
          <div *ngIf="PerformanceGraph == 'false'" (click)="getSubjectDetails(subject,$event)" class="graph-icon"><img src="../../assets/img/prfrmnc.png"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="loader" id="performance-loader">
    <img src="../../../assets/img/loader.gif">
  </div>
  <!-- Trigger/Open The Modal -->

</div>
<!-- The Modal -->
<div id="performance-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
      <!--<p>{{studentName}}</p>-->
      <div class="subject-list">
        <p class="subject-list-name" *ngFor="let s of subjectsData;" [ngClass]="{ 'active': s.Id == selectedId }" (click)="getSubjectDetails(s,$event)">{{s.SubjectName}}</p>
      </div>
    </div>
    <div class="modal-body" *ngIf="subjectDetails.subject != undefined">
      <div class="modal-table">
        <table>
          <!-- <tr>
            <th class="lft-subject">Subject</th>
            <th>Attendance</th>
            <th>Target</th>
            <th>Grade</th>
          </tr> -->
          <tr>
            <td>
              <div class="rating-outer">
                <div *ngIf="subjectDetails.subject.Performance.Column1.Value != null">
                  <div class="circle" id="attendance-circles"></div>
                  <p class="success" [ngStyle]="{ 'color': getColor(subjectDetails.subject.Performance.Column1.Trend)}">{{subjectDetails.subject.Performance.Column1.Value}}{{subjectDetails.subject.Performance.Column1.Unit}}
                    
                  <i class="fa fa-caret-up" aria-hidden="true" *ngIf="subjectDetails.subject.Performance.Column1.Trend == 1"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" *ngIf="subjectDetails.subject.Performance.Column1.Trend == 3"></i>
                    
                  </p>
                </div>
              </div>
              <p>{{subjectsData[0].Performance.Column1.Header}}</p>
            </td>
            <td>
              <div class="rating-outer">
                <div *ngIf="subjectDetails.subject.Performance.Column2.Value != null">
                  <div class="circle" id="target-circles"></div>
                  <p class="success">{{subjectDetails.subject.Performance.Column2.Value}}{{subjectDetails.subject.Performance.Column2.Unit}}
                    <span class="up" *ngIf="subjectDetails.subject.Performance.Column2.Trend == 1">
                      <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                    <span class="down" *ngIf="subjectDetails.subject.Performance.Column2.Trend == 3">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
              </div>
              <p>{{subjectsData[0].Performance.Column2.Header}}</p>
            </td>
            <td>
              <div class="rating-outer">
                <div *ngIf="subjectDetails.subject.Performance.Column3.Value != null">
                  <div class="circle" id="grade-circles"></div>
                  <p class="success" [ngStyle]="{ 'color': getColor(subjectDetails.subject.Performance.Column3.Trend)}">{{subjectDetails.subject.Performance.Column3.Value}}
                    <span class="up" *ngIf="subjectDetails.subject.Performance.Column3.Trend == 1">
                      <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                    <span class="down" *ngIf="subjectDetails.subject.Performance.Column3.Trend == 3">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
              </div>
              <p>{{subjectsData[0].Performance.Column3.Header}}</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="graph">
        <chart [options]="options" class="chart-hight">
        </chart>
      </div>
    </div>

  </div>
</div>
