@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.main {
  background-color: #f1f1f1;
  height: 100vh;
  width: 100%; }

.login-box {
  border-top: 4px solid #54c9e8;
  background: #fff;
  position: relative;
  width: 585px;
  padding: 15px 0;
  margin: 0 auto 10px;
  z-index: 9;
  top: 50px; }

.logo {
  text-align: center; }

.login-box h1 {
  border-bottom: 1px solid #54c9e8;
  margin: 25px 0 15px;
  font-size: 75px;
  font-weight: 100;
  text-align: center; }

.form-inner {
  padding: 0 80px; }

.form-inner h2 {
  font-size: 30px;
  color: #000;
  margin: 0 0 25px;
  font-weight: 400; }

.custom-input {
  width: 100%;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #dedede;
  padding: 12px 0;
  font-size: 14px;
  color: #000;
  outline: none;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s; }

.remember-me {
  margin: 25px 0 11px; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  width: 12px;
  height: 9px;
  position: absolute;
  background: url(../img/check.png) no-repeat #72cc72;
  left: 2px;
  top: 5px;
  transition: all .2s; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

.remember-me label {
  font-size: 12px;
  padding: 3px 30px;
  color: #404040;
  font-weight: 400; }

.round-btn {
  background: #54c9e8;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  margin-right: 15px;
  color: #fff;
  cursor: pointer; }

.round-btn:hover {
  background-color: #0290b5;
  transition: all ease .3s; }

.submit-events span {
  color: #b6b6b6;
  font-size: 12px;
  cursor: pointer; }

.submit-events span:hover {
  color: #54c9e8;
  transition: all ease 0.3s; }

.form-footer {
  text-align: center;
  margin: 20px 80px 0 80px;
  border-top: 1px solid #f8f8f8; }

.form-footer p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 22px; }

.form-footer p strong {
  color: #54c9e8;
  cursor: pointer; }

.form-footer p strong:hover {
  color: #333;
  transition: all ease 0.3s; }

.copyright {
  color: #7c7c7c;
  position: absolute;
  bottom: -30px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  right: -50%;
  transform: translate(-50%); }

/*forgot pwd*/
.forgot-pwd .form-inner {
  margin-top: 40px; }

.forgot-pwd .submit-events {
  text-align: center;
  margin: 20px 0 40px; }

.forgot-pwd .form-footer {
  text-align: left; }

.forgot-pwd .form-footer h2 {
  color: #54c9e8;
  font-weight: 400;
  font-size: 19px; }

.forgot-pwd .form-footer span {
  cursor: pointer;
  color: #000;
  font-weight: 500; }

.back {
  text-align: center;
  margin: 30px 0;
  font-size: 19px !important; }

.back span {
  color: #ff7800 !important;
  cursor: pointer; }

/*error*/
.p-error::-webkit-input-placeholder {
  color: #f00; }

.p-error::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f00; }

.p-error::-moz-placeholder {
  /* Firefox 19+ */
  color: #f00; }

.p-error:-ms-input-placeholder {
  /* IE 10+ */
  color: #f00; }

.p-error:-moz-placeholder {
  /* Firefox 18- */
  color: #f00; }

/*dashboard*/
.header {
  border-top: 4px solid #54c9e8;
  background: #fff;
  padding: 5px 0 3px;
  position: relative;
  border-bottom: 2px solid #dbdbdb; }

.settings {
  position: absolute;
  top: 7px;
  right: 40px;
  cursor: pointer; }

.logout {
  position: absolute;
  top: 7px;
  right: 0px;
  cursor: pointer; }

.container {
  width: 1280px;
  position: relative;
  margin: 0 auto; }

/*sidebar*/
.nav-sidebar {
  float: left;
  width: 223px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-right: 22px;
  height: 100%; }

.dashboard-main {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 100%;
  border: 1px solid #d2d2d2; }

.profile {
  background: #54c9e8;
  padding: 34px 25px 40px;
  text-align: center;
  color: #fff; }

.profile-pic {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff; }

.profile h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 15px; }

.profile p {
  font-size: 15px; }

.nav {
  text-align: center;
  margin-top: 1px; }

.nav li a {
  display: block;
  padding: 15px 5px;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #f8f8f8;
  text-decoration: none; }

.active {
  background-color: #54c9e8;
  color: #fff !important;
  transition: all ease 0.3s; }

.inner-main {
  height: calc(768px - 95px);
  padding: 20px 0 0; }

.dashboard-head {
  background-color: #54c9e8;
  color: #fff;
  padding: 10px 20px; }

.performance table {
  border-collapse: collapse;
  width: 100%; }

.performance th, td {
  text-align: left;
  padding: 10px;
  font-size: 15px;
  font-weight: 500; }

/*tr:nth-child(even){background-color: #f2f2f2}*/
.performance th {
  background-color: #54c9e8;
  color: #fff;
  font-size: 15px;
  font-weight: 400; }

.performance tr {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer; }

.performance tr:hover {
  background-color: #e7f0f9; }

.table-profile-pic {
  background-color: #f77c32;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block; }

.subject-name {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 10px; }

.subject-name p {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin: 0; }

.subject-name span {
  font-size: 15px;
  font-weight: 400;
  color: #7c7c7c; }

.up {
  border-color: transparent transparent #6bc04b;
  border-style: solid;
  border-width: 8px 5px;
  content: "";
  display: inline-block;
  margin-left: 8px;
  margin-top: -5px; }

.success {
  color: #6bc04b; }

.black {
  color: #000; }

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 1200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -15px;
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer; }

.modal-header {
  padding: 9px 23px;
  background-color: #54c9e8;
  position: relative; }

.modal-header p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0; }

.modal-table th {
  background-color: #f4f4f4;
  font-size: 12px;
  color: #434242; }

.modal-table .table-profile-pic {
  height: 70px;
  width: 70px;
  border: 1px solid #54c9e8;
  background-color: transparent; }

.modal-table .subject-name {
  top: -23px; }

.rating-outer {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto;
  position: relative;
  left: -20px; }

.value {
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-table svg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); }

.modal-table svg:not(:root) {
  overflow: hidden; }

.danger {
  color: #f00; }

.arrow-bottom {
  text-align: center;
  margin-top: 35px; }

.down {
  position: relative;
  top: -5px; }

#login-error {
  font-size: 14px;
  position: relative;
  top: -43px;
  color: #f00; }

/*# sourceMappingURL=output.css.map */
