@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button:focus, a:focus {
  outline: none; }

:focus {
  outline: none !important; }

.main {
  background-color: #f1f1f1;
  height: 100vh;
  width: 100%; }

.login-box {
  background: #fff;
  border-top: 4px solid #2671be;
  margin: 0 auto 10px;
  padding: 15px 0;
  position: relative;
  top: 40px;
  width: 585px;
  z-index: 9;
  height: 525px; }

.logo {
  text-align: center; }

.login-box h1 {
  border-bottom: 1px solid #2671be;
  font-size: 90px;
  font-weight: 100;
  margin: 25px 0 15px;
  padding: 0 80px; }

.form-inner {
  padding: 0 80px; }

.form-inner h2 {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 20px; }

.custom-input {
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  border-bottom: 1px solid #dedede !important;
  border: none;
  color: #000;
  font-size: 14px;
  margin-bottom: 5px;
  outline: none;
  padding: 12px 8px 15px;
  transition: all 0.4s ease-in-out 0s;
  width: calc(100% - 16px); }

.custom-input:focus {
  border-bottom: 1px solid #2671be !important;
  transition: all ease 0.3s; }

.remember-me {
  margin: 15px 0; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  left: -9999px;
  position: absolute; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  cursor: pointer;
  padding-left: 1.95em;
  position: relative; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  background: #fff;
  border-radius: 3px;
  border: 2px solid #e1dede;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  content: '';
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px; }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  background: url(../img/check.png) no-repeat #72cc72;
  content: '';
  height: 9px;
  left: 2px;
  position: absolute;
  top: 5px;
  transition: all .2s;
  width: 12px; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  background-color: #ddd;
  border-color: #bbb;
  box-shadow: none; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

.remember-me {
  position: relative; }

.remember-me label {
  color: #404040;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 30px; }

.round-btn {
  background: #2671be;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  padding: 6px 25px;
  border: 2px solid #2671be; }

.round-btn:hover {
  background-color: #165391;
  transition: all ease .3s;
  border: 2px solid #165391; }

.btn-border {
  border: 2px solid #2671be;
  background-color: transparent;
  color: #000; }

.btn-border:hover {
  border: 2px solid #165391;
  color: #fff; }

.submit-events span {
  color: #b6b6b6;
  cursor: pointer;
  font-size: 12px; }

.submit-events span:hover {
  color: #2671be;
  transition: all ease 0.3s; }

.form-footer {
  border-top: 1px solid #f8f8f8;
  margin: 20px 45px 0 45px;
  text-align: center; }

.forgot-pwd .form-inner h2 {
  margin: 0 -15px 20px; }

.form-footer p {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

.form-footer p strong {
  color: #2671be;
  cursor: pointer; }

.form-footer p strong:hover {
  color: #555;
  transition: all ease 0.3s; }

.copyright {
  bottom: -30px;
  color: #7c7c7c;
  font-size: 14px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  right: -50%;
  text-align: center;
  transform: translate(-50%); }

/*forgot pwd*/
.forgot-pwd .form-inner {
  margin-top: 40px; }

.forgot-pwd .form-footer {
  margin: 20px 80px 0 75px;
  text-align: left; }

.forgot-pwd .submit-events {
  margin: 20px 0 40px;
  text-align: center; }

.forgot-pwd .form-footer h2 {
  color: #2671be;
  font-size: 19px;
  font-weight: 400; }

.forgot-pwd .form-footer span {
  color: #555;
  cursor: pointer;
  font-weight: 500; }

.back {
  font-size: 19px !important;
  margin: 30px 0;
  text-align: center; }

.back span {
  color: #ff7800 !important;
  cursor: pointer; }

/*error*/
.p-error::-webkit-input-placeholder {
  color: #f00; }

.p-error::-webkit-input-placeholder {
  color: #f00;
  /* Chrome/Opera/Safari */ }

.p-error::-moz-placeholder {
  color: #f00;
  /* Firefox 19+ */ }

.p-error:-ms-input-placeholder {
  color: #f00;
  /* IE 10+ */ }

.p-error:-moz-placeholder {
  color: #f00;
  /* Firefox 18- */ }

/*dashboard*/
.header {
  background: #fff;
  border-bottom: 2px solid #dbdbdb;
  border-top: 4px solid #2671be;
  padding: 5px 0 3px;
  position: relative; }

.settings {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 7px; }

.announcements {
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: 3px;
  height: 25px;
  width: 25px;
  background: #fff;
  border: 2px solid #2671be;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  color: #2671be; }

.announcements .notification {
  position: absolute;
  top: -6px;
  right: -16px; }

.logout {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 7px; }

.container {
  margin: 0 auto;
  position: relative;
  width: 1280px; }

/*sidebar*/
.nav-sidebar {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  float: left;
  height: 100%;
  margin-right: 22px;
  width: 223px; }

.dashboard-main {
  background: #fff;
  border: 1px solid #d2d2d2;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 1033px; }

.fixed-header tbody::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

.fixed-header tbody::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.fixed-header tbody::-webkit-scrollbar-thumb {
  background-color: #2671be; }

.fixed-header tbody tr td, .fixed-header th {
  width: 258px; }

.profile {
  background: #2671be;
  color: #fff;
  padding: 34px 25px 40px;
  text-align: center; }

.profile-pic {
  background-color: #fff;
  border-radius: 50%;
  height: 80px;
  margin: 0px auto;
  overflow: hidden;
  width: 80px; }

.profile-pic img {
  width: 100%;
  max-width: 100%; }

.profile h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 15px; }

.profile p {
  font-size: 15px;
  margin: 0; }

.nav {
  margin-top: 1px;
  text-align: center; }

.nav li a {
  border-bottom: 1px solid #f8f8f8;
  color: #555;
  display: block;
  font-size: 15px;
  padding: 15px 5px;
  text-decoration: none; }

.nav li a:hover {
  background: #e7f0f9;
  color: #000;
  transition: all ease 0.5s; }

.nav li .active:hover {
  background: #2671be;
  color: #000; }

.active {
  background-color: #2671be;
  color: #fff !important;
  transition: all ease 0.3s; }

.inner-main {
  height: calc(768px - 250px);
  padding: 20px 0 0; }

.dashboard-head {
  background-color: #2671be;
  color: #fff;
  padding: 10px 20px; }

.performance table {
  border-collapse: collapse;
  width: 1033px;
  table-layout: fixed; }

.modal-body table {
  border-collapse: collapse;
  width: 100%; }

.fixed-header thead tr {
  display: block;
  position: relative; }

.performance th, td {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  text-align: center; }

.modal-body th, td {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  text-align: center; }

.fixed-header tbody {
  display: block;
  overflow: auto;
  height: 480px; }

.lft {
  text-align: left; }

.lft-subject {
  text-align: left !important; }

/*tr:nth-child(even){background-color: #f2f2f2}*/
.performance th {
  background-color: #2671be;
  color: #fff;
  font-size: 15px;
  font-weight: 400; }

.performance tr {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer; }

.performance tr:hover {
  background-color: #e7f0f9;
  transition: all ease 0.5s; }

.modal-body tr:hover {
  background-color: #e7f0f9;
  transition: all ease 0.5s; }

.table-profile-pic {
  border-radius: 50%;
  display: inline-block;
  height: 47px;
  overflow: hidden;
  position: relative;
  width: 47px; }

.table-profile-pic .teacher-image {
  opacity: 0;
  transition: all 1s ease; }

.table-profile-pic .teacher-image.teacher-image-active {
  opacity: 1; }

.table-profile-pic img {
  width: 100%;
  max-width: 100%;
  position: absolute; }

.subject-name {
  display: inline-block;
  left: 10px;
  position: relative;
  vertical-align: top;
  top: 5px;
  width: 70%; }

.subject-name p {
  color: #555;
  font-size: 16px;
  font-weight: 500;
  margin: 0; }

.subject-name span {
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  width: 100%; }

.subject-name .second {
  opacity: 0;
  transition: all 1s ease; }

.subject-name .second.subject-name-active {
  opacity: 1; }

.subject-name .second {
  opacity: 0;
  transition: all 1s ease; }

.subject-name .second.subject-name-active {
  opacity: 1; }

.success {
  color: #6bc04b; }

.black {
  color: #000; }

/* The Modal (background) */
.modal {
  background-color: white;
  /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5);
  /* Black w/ opacity */
  display: block;
  /* Hidden by default */
  height: 100%;
  /* Full height */
  left: 0;
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 2%;
  /* Location of the box */
  position: fixed;
  /* Stay in place */
  top: 0;
  width: 100%;
  /* Full width */
  z-index: 1;
  /* Sit on top */
  display: none; }

.modal.in {
  display: block; }

/* Modal Content */
.modal-content {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  padding: 0;
  position: relative;
  width: 1200px; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 24px;
  font-weight: lighter;
  height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -20px;
  width: 30px;
  line-height: 23px; }

.modal-header {
  background-color: #2671be;
  padding: 9px 23px;
  position: relative; }

.modal-header p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

.modal-table th {
  background-color: #f4f4f4;
  color: #434242;
  font-size: 12px; }

.modal-table .lft-subject {
  padding-left: 25px; }

.modal-table .table-profile-pic {
  background-color: transparent;
  border: 1px solid #2671be;
  height: 70px;
  width: 70px; }

.modal-table .subject-name {
  top: 20 px; }

.modal-table tr {
  border-bottom: 1px solid #eeeeee !important; }

.rating-outer {
  display: inline-block;
  margin: 0px auto;
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: 70px; }

.rating-outer p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  width: 30px; }

.rating-outer .down {
  position: absolute;
  top: 10px;
  left: 3px; }

.rating-outer .up {
  position: absolute;
  top: -19px;
  left: 3px; }

.value {
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-table svg:not(:root) {
  overflow: hidden; }

.danger {
  color: #f00; }

.arrow-bottom {
  margin-top: 35px;
  text-align: center; }

.down, .up {
  position: relative;
  font-size: 20px;
  margin-left: 6px; }

#login-error {
  color: #f00;
  font-size: 12px;
  position: absolute;
  top: -18px; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #f1f1f1;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.highcharts-container {
  margin: 0 auto; }

.class-zero {
  color: #3c3c3c; }

.class-one {
  color: #6bc04b; }

.class-two {
  color: #ff7800; }

.class-three {
  color: #ff3c1f; }

.loader {
  display: none;
  position: absolute;
  top: 0;
  background-color: #2671be;
  width: 100%;
  opacity: 1;
  height: 100%;
  transition: all ease 0.5s; }

.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal-table .subject-name {
  top: 15px; }

#logout {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease; }

#logout.show-logout {
  z-index: 9999;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5); }

.modal-dialog {
  padding: 10px 25px 39px;
  width: 215px;
  background: white;
  text-align: center;
  border-radius: 0;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.23);
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute; }

.modal-dialog p {
  font-size: 14px;
  color: #434242;
  text-align: center;
  margin: 8px 0 30px; }

.notification {
  display: inline-block;
  height: 21px;
  width: 21px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 22px; }

#server-failed {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  display: none; }

#server-failed .round-btn {
  margin-right: 0; }

#server-failed .modal-dialog {
  padding: 25px; }

.graph-td {
  position: relative; }

.graph-icon {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 30px;
  width: 30px;
  background: #2671be;
  border-radius: 50px;
  text-align: center;
  line-height: 36px; }

/*# sourceMappingURL=output.css.map */
