<div class="main">
	<div class="header">
		<div class="container">
			<div class="header-logo">
				<img src="../assets/img/logo.png">
			</div>
			<div class="header-controls">
				<div class="settings">
					<img src="../assets/img/settiing_icon.png">
				</div>
				<div class="logout">
					<img src="../assets/img/logout_icon.png">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
	 <div class="inner-main">
		<div class="nav-sidebar">
			<div class="profile">
				<div class="profile-pic">
					
				</div>
				<div class="profile-name">
					<h2>Student Name</h2>
					<p>Year Group</p>
				</div>
			</div>
			<ul class="nav">
			    <li><a id="dashboard" [routerLink]="['./performance']">Performance</a></li>
			    <li><a id="domains" [routerLink]="['./tasks']">Tasks</a></li>
			    <li><a id="lists" [routerLink]="['./timetable']">Timetable</a></li>
			    <li><a id="campaigns" [routerLink]="['./announcements']">Announcements</a></li>
		    </ul>
	    </div>
	  <div class="dashboard-main">
	  		<router-outlet></router-outlet>
	  </div>
	  </div>
	</div>
</div>


