<div class="main">
  <div class="header">
    <div class="container">
      <div class="header-logo">
        <img src="../assets/img/logo.png">
      </div>
      <div class="header-controls">
        <div class="settings">
          <img src="../assets/img/settiing_icon.png">
        </div>
        <div class="logout" (click)="logoutPopup()">
          <img src="../assets/img/logout_icon.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-main">
      <div class="nav-sidebar">
        <div class="profile">
          <div class="profile-pic">
            <img *ngIf="studentInfo.Image != undefined" [src]="'data:image/png;base64,'+studentInfo.Image" />
          </div>
          <div class="profile-name">
            <h2>{{studentInfo.Firstname}} {{studentInfo.Lastname}}</h2>
            <p>{{studentInfo.YearGroup}}</p>
            <p>{{studentInfo.SchoolName}}</p>
          </div>
        </div>
        <ul class="nav">
          <li><a [routerLinkActive]="['active']" id="dashboard" [routerLink]="['./performance']">Performance</a></li>
          <li><a [routerLinkActive]="['active']" id="domains" [routerLink]="['./tasks']">Tasks <div class="notification">{{counterData.UnreadTaskCount}}</div></a></li>
          <li><a [routerLinkActive]="['active']" id="lists" [routerLink]="['./timetable']">Timetable</a></li>
          <li><a [routerLinkActive]="['active']" id="campaigns" [routerLink]="['./announcements']">Announcements <div class="notification">{{counterData.UnreadAnnouncementCount}}</div></a></li>
        </ul>
      </div>
      <div class="dashboard-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  <p class="copyright">Copyright © 2017 InvolvEdTech. All Rights Reserved.</p>
  </div>
  <div id="logout" (click)="cancelLogout($event)">
    <div class="modal-dialog">
      <p>Confirm logout?</p>
      <div class="modal-dialog-footer">
        <button class="round-btn" (click)="logout()">Yes</button>
        <button class="round-btn btn-border" (click)="cancelLogout($event)">No</button>
      </div>
    </div>
  </div>
  <div class="loader" id="dashboard-loader">
    <img src="../../../assets/img/loader.gif">
  </div>
</div>
