<div class="main">
  <div class="header">
    <div class="container">
      <div class="header-logo">
        <img src="../assets/img/logo.png">
      </div>
      <div class="header-controls">
        <div class="settings">
          <img src="../assets/img/settiing_icon.png">
        </div>
        <div class="logout" (click)="logoutPopup()">
          <img src="../assets/img/logout_icon.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-main">
      <div class="nav-sidebar">
        <div class="profile">
          <div class="profile-pic">
            <img *ngIf="studentInfo.Image != undefined" [src]="'data:image/png;base64,'+studentInfo.Image" />
          </div>
          <div class="profile-name">
            <h2>{{studentInfo.Firstname}} {{studentInfo.Lastname}}</h2>
            <p>{{studentInfo.YearGroup}}</p>
          </div>
        </div>
        <ul class="nav">
          <li><a [routerLinkActive]="['active']" id="dashboard" [routerLink]="['./performance']">Performance</a></li>
          <li><a [routerLinkActive]="['active']" id="domains" [routerLink]="['./tasks']">Tasks</a></li>
          <li><a [routerLinkActive]="['active']" id="lists" [routerLink]="['./timetable']">Timetable</a></li>
          <li><a [routerLinkActive]="['active']" id="campaigns" [routerLink]="['./announcements']">Announcements</a></li>
        </ul>
      </div>
      <div class="dashboard-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div id="logout">
    <div class="modal-dialog">
      <p>Confirm logout?</p>
      <div  class="modal-dialog-footer">
        <button (click)="logout()">Yes</button>
        <button (click)="cancelLogout()">No</button>
      </div>
    </div>
  </div>
</div>
