<div class="main">
	<div class="login-box forgot-pwd">
		<div class="logo">
			<img src="../assets/img/logo.png">
		</div>
		<div class="form-inner">
			<h2>Forgot Password?</h2>
			<input type="email" name="" class="custom-input" placeholder="Email">
			
			<div class="submit-events">
				<button class="round-btn">Submit</button>
			</div>
		</div>
		<div class="form-footer">
			<h2>Technical issues?</h2>
			<p>Please send your query to <span>support@involvedtech.co.uk</span> with your name and date of birth from your registered school email address.</p>
			<p class="back">Back to <span>Sign In</span></p>
		</div>
	</div>
</div>