<!-- particles.js container -->
<particles [params]="particalParams" [style]="particalStyle"></particles>
<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles"></span>
</div>
<div class="main">
  <div class="login-box forgot-pwd">
    <div class="logo">
      <img src="../assets/img/logo.png">
    </div>
    <form (ngSubmit)="submit($event)" #forgotPasswordForm="ngForm" ngNativeValidate>
      <div class="form-inner">
        <h2>Forgot Password?</h2>
        <input type="text" name="username" [(ngModel)]="username" class="custom-input" (ngModelChange)="changedExtraHandler()" placeholder="Enter username" required>
        <div id="username-error"></div>
        <div class="submit-events">
          <button type="submit" class="round-btn" (click)="forgotPasswordForm.ngSubmit.emit()" id="forgotPassword">Submit</button>
        </div>
      </div>
    </form>
    <div class="form-footer">
      <h2>Forgot Username?</h2>
      <p>Parent/guardian to send request to <span>support@involvedtech.co.uk</span> with student name and student date of birth.</p>
      <p><span>Email must be sent from Parent/guardian registered email address.</span></p>
      <p class="back">Back to <span [routerLink]="['/login']">Sign In</span></p>
    </div>
  </div>
</div>
