<!-- particles.js container -->
<particles [params]="particalParams" [style]="particalStyle"></particles>
<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles"></span>
</div>
<div class="main">
  <div class="login-box forgot-pwd">
    <div class="logo">
      <img src="../assets/img/logo.png">
    </div>
    <div class="form-inner">
      <h2>Forgot Password?</h2>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="custom-input" (ngModelChange)="changedExtraHandler()"
        placeholder="Enter username" (keyup.enter)="submit()" required>
      <div id="username-error"></div>
      <div class="submit-events">
        <button type="button" class="round-btn" (click)="submit()" id="forgotPassword">Submit</button>
      </div>
    </div>
    <div class="form-footer">
      <h2>Forgot Username?</h2>
      <p>Parent/guardian to send request to
        <br/>
        <a href="mailto:support@involvedtech.co.uk"> support@involvedtech.co.uk
          </a>with student name and student date of birth.</p>
      <p class="lasttext"><b>Email must be sent from Parent/guardian registered email address.</b></p>
      <p class="back">Back to <span [routerLink]="['/login']">Sign In</span></p>
    </div>
  </div>
</div>
