body {
  background-color: $body-bg;
  font-family: $roboto;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

button,
a {

  &:focus {
    outline: none;
  }
}

:focus {
  outline: none !important;
}

::-webkit-input-placeholder {
  font-family: $roboto;
}

:-moz-placeholder {
  font-family: $roboto;
}

::-moz-placeholder {
  font-family: $roboto;
}

:-ms-input-placeholder {
  font-family: $roboto;
}

::-webkit-textarea-placeholder {
  font-family: $roboto;
}

:-ms-textarea-placeholder {
  font-family: $roboto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear {
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
}

.main {
  background-color: $body-bg;
  height: 100%;
  width: 100%;
}

.logo {
  text-align: center;
}

.login-box {
  background: $white;
  border-top: 4px solid $primary-color;
  margin: 50px auto 10px;
  padding: 14px 0 40px;
  position: relative;
  width: 585px;
  z-index: 9;

  h1 {
    border-bottom: 1px solid $primary-color;
    font-size: 90px;
    font-weight: 100;
    margin: 40px 0 15px;
    padding: 0 80px;
  }
}

.form-inner {
  padding: 0 80px;
  position: relative;

  h2 {
    color: $black;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 25px;
  }
}

.custom-input {
  -moz-transition: all .4s ease-in-out 0s;
  -webkit-transition: all .4s ease-in-out 0s;
  border: 0;
  border-bottom: 1px solid $input !important;
  color: $black;
  font-size: 14px;
  outline: none;
  padding: 12px 8px 15px;
  transition: all .4s ease-in-out 0s;
  width: calc(100% - 16px);
  &:focus {
    border-bottom: 1px solid $primary-color !important;
    transition: all ease .5s;
  }
}

// Base for label styling
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  left: -9999px;
  position: absolute;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  cursor: pointer;
  padding-left: 1.95em;
  position: relative;
}

// checkbox aspect
[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  background: $white;
  border-radius: 3px;
  border: 2px solid #e1dede;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
  content: '';
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

// checked mark aspect
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  background: url(../img/check.png) no-repeat #72cc72;
  content: '';
  height: 9px;
  left: 2px;
  position: absolute;
  top: 5px;
  transition: all .2s;
  width: 12px;
}

// checked mark aspect changes
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

// disabled checkbox
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  background-color: #ddd;
  border-color: #bbb;
  box-shadow: none;
}

[type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

[type="checkbox"]:disabled+label {
  color: #aaa;
}

.remember-me {
  margin: 30px 0 25px;
  position: relative;
  label {
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 30px;
  }
}

.modal-dialog-footer button:last-child {
  margin-right: 0;
}

.round-btn {
  background: $primary-color;
  border-radius: 30px;
  border: 2px solid $primary-color !important;
  border: none;
  color: $white;
  cursor: pointer;
  margin-right: 15px;
  padding: 6px 25px;
  &:hover {
    background-color: $hover-btn;
    border: 2px solid $hover-btn !important;
    transition: all ease .3s;
  }
}

.header-controls {
  position: relative;
}

.btn-border {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $black;
  &:hover {
    border: 2px solid $hover-btn;
    color: $white;
  }
}

.submit-events {
  span {
    color: #b6b6b6;
    cursor: pointer;
    font-size: 12px;
    :hover {
      color: $primary-color;
      transition: all ease .5s;
    }
  }
}

.form-footer {
  border-top: 1px solid #f8f8f8;
  margin: 38px 50px 0;
  padding: 30px 40px 0;
  text-align: center;
  p {
    color: $light-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    strong a {
      color: $primary-color;
      cursor: pointer;
      text-decoration: navajowhite;
      &:hover {
        color: $light-font;
        transition: all ease .5s;
      }
    }
  }
}

.forgot-pwd {
  .form-inner {
    margin-top: 40px;
    h2 {
    margin: 0 -15px 42px;
    }
  }

  .form-footer {
    margin: 50px 80px 0 75px;
    padding: 50px 0 0;
    text-align: left;
    h2 {
      color: $primary-color;
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .lasttext {
      margin-top: 10px;
    }

    a {
      color: $light-font;
      cursor: pointer;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .submit-events {
    margin: 20px 0 40px;
    text-align: center;
  }
}

.copyright {
  color: $very-light-font;
  font-size: 14px;
  text-align: center;
}

// forgot pwd
.back {
  font-size: 19px !important;
  margin: 50px 0 0 !important;
  text-align: center;
  span {
    color: $clr-highlight !important;
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
      color: $primary-color !important;
    }
  }
}

// error
.p-error {
  &::-webkit-input-placeholder {
    color: $danger;
  }

  &::-webkit-input-placeholder {
    color: $danger;
    // Chrome/Opera/Safari
  }

  &::-moz-placeholder {
    color: $danger;
    // Firefox 19+
  }

  &:-ms-input-placeholder {
    color: $danger;
    // IE 10+
  }

  &:-moz-placeholder {
    color: $danger;
    // Firefox 18-
  }
}

// dashboard
.header {
  background: $white;
  border-bottom: 2px solid #dbdbdb;
  border-top: 4px solid $primary-color;
  padding: 5px 0 3px;
  position: relative;
}

.settings {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 7px;
}

.announcements {
  background: $white;
  border-radius: 50px;
  border: 2px solid #2671be;
  color: #2671be;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 3px;
  width: 25px;
  .notification {
    left: auto;
    position: absolute;
    right: -16px;
    top: -6px;
  }
}

.timetable {
  .notification {
    left: 165px;
  }
}

.logout {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 7px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 1250px;
}

// sidebar
.nav-sidebar {
  background: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
  float: left;
  height: 100%;
  margin-right: 22px;
  width: 223px;
}

.dashboard-main {
  background: $white;
  border: 1px solid #d2d2d2;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.fixed-header .data-body::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.fixed-header .data-body::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 9px;
}

.fixed-header .data-body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

.subject-list::-webkit-scrollbar-track {
  background-color: #b2b2b2;
}

.subject-list::-webkit-scrollbar {
  background-color: #f9f9f9;
  height: 6px;
}

.subject-list::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
}

.profile {
  background: $primary-color;
  color: $white;
  padding: 34px 25px 40px;
  text-align: center;
}

.profile-pic {
  background-color: $white;
  border-radius: 50%;
  height: 80px;
  margin: 0px auto;
  overflow: hidden;
  width: 80px;
}

.profile-pic img {
  max-width: 100%;
  width: 100%;
}

.profile h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 15px;
}

.profile p {
  font-size: 15px;
  margin: 5px 0;
}

.nav {
  margin-top: 1px;
  text-align: center;
}

.nav li a {
  border-bottom: 1px solid #f8f8f8;
  color: $light-font;
  display: block;
  font-size: 15px;
  padding: 15px 5px;
  text-decoration: none;
}

.nav li a:hover {
  background: #e7f0f9;
  color: #000;
  transition: all ease .5s;
}

.nav li .active:hover {
  background: $primary-color;
  color: #000;
}

.active {
  background-color: $primary-color;
  color: $white !important;
  transition: all ease .5s;
}

.inner-main {
  height: calc(768px - 53px - 60px);
  padding: 20px 0 0;
}

.dashboard-head {
  background-color: $primary-color;
  color: $white;
  padding: 10px 20px;
}

.modal-body {
  table {
    border-collapse: collapse;
    width: 100%;
  }
}

.fixed-header .row {
  display: block;
  position: relative;
}

.modal-body th,
td {
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

.data-body {
  display: block;
  height: 618px;
  overflow: auto;
  position: relative;
}

.lft {
  text-align: left;
}

.lft-subject {
  text-align: left !important;
  img {
    left: 65px;
    position: absolute;
    top: 7px;
  }
}

// tr:nth-child(even){background-color: #f2f2f2}
.dashboard-table {
  .col-hd {
    background-color: $primary-color;
    color: $white;
    font-size: 15px;
    font-weight: 400;
    float: left;
    padding: 10px;
    text-align: center;
    width: 205.75px;
  }

  .col-graph {
    background-color: $primary-color;
    color: $white;
    font-size: 15px;
    font-weight: 400;
    float: left;
    padding: 10px;
    text-align: center;
    width: 80px;
  }

  .row {
    border-bottom: 1px solid #eee;
  }

  .col {
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    width: 205.75px;
    p {
      position: relative;
    }
  }

  .fixed-header {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1003px;
  }
}
// .performance tr:hover {background-color: #e7f0f9; transition: all ease .5s;}

// .modal-body tr:hover {background-color: #e7f0f9; transition: all ease .5s;}
.table-profile-pic {
  border-radius: 50%;
  display: inline-block;
  height: 47px;
  left: -5px;
  overflow: hidden;
  position: relative;
  width: 47px;
  .teacher-image {
    opacity: 0;
    transition: all 1s ease;
  }

  img {
    border-radius: 50%;
    max-width: 100%;
    position: absolute;
    width: 100%;
  }

  .teacher-image.teacher-image-active {
    opacity: 1;
  }
}

.subject-name {
  display: inline-block;
  position: relative;
  top: 5px;
  vertical-align: top;
  width: 70%;
  p {
    color: $light-font;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  span {
    color: #7c7c7c;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    width: 100%;
  }

  .second {
    opacity: 0;
    transition: all 1s ease;
  }

  .second.subject-name-active {
    opacity: 1;
  }
}

.success {
  color: $success;
}

.black {
  color: $black;
}

// Add Animation
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

// The Modal (background)
.modal-back {
  position: fixed;
  width: 100%;
}

.modal {
  background-color: rgb(255, 255, 255);
  // Fallback color
  background-color: rgba(255, 255, 255, .5);
  // Black w/ opacity
  display: block;
  // Hidden by default
  display: none;
  height: 100%;
  // Full height
  left: 0;
  overflow: auto;
  // Enable scroll if needed
  padding-top: 30px;
  // Location of the box
  position: fixed;
  // Stay in place
  top: 0;
  width: 100%;
  // Full width
  z-index: 1;
  // Sit on top
}

.modal.in {
  display: block;
}

// Modal Content
.modal-content {
  -webkit-animation-duration: .5s;
  -webkit-animation-name: animatetop;
  animation-duration: .5s;
  animation-name: animatetop;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin: auto;
  padding: 0;
  position: relative;
  width: 1200px;
}

// The Close Button
.close {
  background: rgba(48, 48, 48, 1);
  border-radius: 50px;
  color: $white;
  cursor: pointer;
  float: right;
  font-size: 24px;
  font-weight: lighter;
  height: 37px;
  line-height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -18px;
  width: 37px;

  &:hover {
    background-color: rgba(48, 48, 48, .8);
    transition: all ease .5s;
  }
}

.modal-header {
  background-color: $primary-color;
  padding: 9px 23px;
  position: relative;
  text-align: center;

  p {
    color: $white;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}

.modal-table {
  tr {
    border-bottom: 1px solid #eee !important;
  }

  .subject-name {
    top: 20 px;
  }

  .table-profile-pic {
    background-color: transparent;
    border: 1px solid $primary-color;
    height: 70px;
    width: 70px;
  }

  .lft-subject {
    padding-left: 25px;
  }

  th {
    background-color: #f4f4f4;
    color: #434242;
    font-size: 12px;
  }
}

.no-task-header {
  background-color: rgb(38, 113, 190);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  p {
    margin: 0;
    padding: 10px;
  }
}

.rating-outer {
  display: inline-block;
  height: 70px;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
  width: 100px;
  .up {
    left: 3px;
    position: absolute;
    top: -19px;
  }

  .down {
    left: 3px;
    position: absolute;
    top: 10px;
  }

  p {
    left: 50%;
    line-height: 13px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
  }
}

.value {
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-table {
  svg:not(:root) {
    overflow: hidden;
  }
}

.danger {
  color: $danger;
}

.arrow-bottom {
  margin-top: 35px;
  text-align: center;
}

.down,
.up {
  font-size: 20px;
  margin-left: 8px;
  position: absolute;
  top: -3px;
}

#login-error {
  color: $danger;
  font-size: 13px;
  position: absolute;
  top: -18px;
}

#username-error {
  color: $danger;
  font-size: 13px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 105%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

// particles.js container
#particles-js {
  background-color: #f1f1f1;
  background-image: url('');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

// stats.js
.count-particles {
  background: #f1f1f1;
  border-radius: 0 0 3px 3px;
  color: #13e8e9;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  font-weight: bold;
  left: 0;
  line-height: 14px;
  padding-bottom: 2px;
  position: absolute;
  text-align: left;
  text-indent: 4px;
  top: 48px;
  width: 80px;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.highcharts-container {
  margin: 0 auto;
}

.class-zero {
  color: #3c3c3c;
}

.class-one {
  color: $success;
}

.class-two {
  color: $clr-highlight;
}

.class-three {
  color: $danger;
}

.loader {
  background-color: $primary-color;
  display: none;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all ease .5s;
  width: 100%;
  img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-table {
  .subject-name {
    top: 15px;
  }
}

#logout,
.close-modal {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .5s ease;
  width: 100%;
  z-index: -1;
}

#logout.show-logout,
.close-modal.show-logout {
  background-color: rgba(255, 255, 255, .5);
  opacity: 1;
  z-index: 9999;
}

.close-modal {
  .modal-dialog {
    border: 1px solid #d3d3d3;
    border-radius: 0;
    padding: 30px 70px;
    width: auto;
  }
}

.modal-dialog {
  background: white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 24px rgba(0, 0, 0, .23);
  display: inline-block;
  left: 50%;
  padding: 10px 25px 39px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 215px;
  p {
    color: #434242;
    font-size: 14px;
    margin: 8px 0 30px;
    text-align: center;
  }

  span {
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
  }
}

.notification {
  background-color: $danger;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 12px;
  height: 19px;
  left: 150px;
  line-height: 20.5px;
  position: absolute;
  text-align: center;
  width: 20px;
}

#cookie-delete {
  background: rgba(255, 255, 255, .5);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  width: 100%;
  z-index: 9999;
  h4 {
    color: #165391;
    font-size: 18px;
  }

  .modal-dialog-footer {
    text-align: center
  }

  .modal-dialog {
    padding: 15px 25px;
    text-align: left;
    width: 430px;
    p {
      text-align: left;
    }
  }
}

#network-failed {
  background: rgba(255, 255, 255, .5);
  display: none;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  width: 100%;
  z-index: 9999;
  h4 {
    color: #93b8df;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .modal-dialog {
    padding: 15px 10px;
    width: 280px;
    p {
      margin-bottom: 30px;
    }
  }
}

#server-failed {
  background: rgba(255, 255, 255, .5);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  width: 100%;
  z-index: 9999;
  .modal-dialog {
    padding: 25px;
  }

  .round-btn {
    margin-right: 0;
  }
}

.graph-icon {
  background: #2671be;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
  line-height: 36px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 20px;
  width: 30px;
}

.list-hover {
  background-color: $list-hover;
  transition: all ease .5s;
}

.row:has(.graph-icon:hover) {
  background-color: $list-hover;
}

.info {
  color: #2671be;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 50px;
  top: 45px;
}

.tooltip {
  &:hover
  .tooltiptext {
    transition: all ease .5s;
    visibility: visible;
  }

  .tooltiptext {
    background-color: #2671be;
    border-radius: 6px;
    bottom: 150%;
    color: $white;
    font-size: 13px;
    font-weight: 300;
    left: 0;
    line-height: 19px;
    margin-left: -128px;
    padding: 9px;
    position: absolute;
    text-align: left;
    visibility: hidden;
    width: 255px;
    z-index: 1;

    &::after {
      border-color: $primary-color transparent transparent;
      border-style: solid;
      border-width: 5px;
      content: '';
      left: 50%;
      margin-left: -5px;
      position: absolute;
      top: 100%;
    }
  }
}

.subject-list {
  display: inline-block;
  overflow: auto;
  padding-bottom: 5px;
  white-space: nowrap;
  width: 1160px;
  p {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    transition: none;

    &.active {
      color: $white !important;
      font-size: 16px;
      font-weight: 900;
    }
  }
}

// tasks

.tasks {
  height: 100%;
  position: relative;
}

.task-hd {
  padding: 8px 15px;
  h3 {
    color: $black;
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
  }
}

.header-right {
  float: right;
}

.header-search {
  float: left;
  position: relative;
  width: 295px;
}

.search-task {
  background-color: $white;
  border: solid 1px $primary-color;
  display: none;
  left: 0;
  position: absolute;
  top: 36px;
  width: 100%;
  z-index: 99;
}

.user-char {
  background: $white;
  border-bottom: 1px solid #d7d7d7;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.clear-search {
  background-color: #808080;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

.search-after {
  cursor: pointer;
  padding: 15px 12px;
  p {
    font-size: 14px;
    margin: 0 0 5px;
  }
}

.s-name {
  color: $very-light-font;
  margin-right: 35px !important;
}

.search-area {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  float: left;
  position: relative;
  width: 295px;
  input {
    border: 0;
    border-radius: 0px;
    border-right: 1px solid #d6d6d6;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 7px 0;
    outline: none;
    padding: 3px 12px;
    width: 230px;
  }

  button {
    background: none;
    border: 0;
    color: #7c7c7c;
    float: left;
    height: 35px;
    outline: none;
    padding: 0 0 0 12px;
  }
}

.create-task {
  cursor: pointer;
  float: left;
  margin: 11px 0 0 12px;
  a {
    color: #363636;
    float: left;
    font-size: 15px;
    margin: 0 12px 0 0;
    text-decoration: none;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
      transition: all ease .5s;
    }
  }
}

.blue-fix-hd {
  background: $primary-color;
  height: 24px;
  padding: 7px 15px;
  text-align: center;
  a {
    color: $white;
    font-size: 17px;
    text-decoration: none;

    &:hover {
      color: $black;
      transition: all ease .5s;
    }
  }
}

.next {
  cursor: pointer;
  float: right;
}

.prev {
  cursor: pointer;
  float: left;
  z-index: 999;
}

.week-dp {
  cursor: pointer;
  display: inline-block;
  position: relative;

  i {
    font-size: 15px;
    position: relative;
    right: -4px;
    top: -4px;
  }
}

.table-task-hd {
  background: #f4f4f4;
  color: #434242;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}

// .task-table::-webkit-scrollbar-track {
//   background-color: #F5F5F5;
// }

// .task-table::-webkit-scrollbar {
//   background-color: #F5F5F5;
//   width: 9px;
// }

// .task-table::-webkit-scrollbar-thumb {
//   background-color: $primary-color;
// }

.task-table {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  tr {
    cursor: pointer;
  }

  td {
    padding: 12px 15px;
    text-align: left;
    p {
      color: $success;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
    }

    span {
      color: $black;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.sub {
  color: $very-light-font;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -10px;
}

.status {
  text-align: right !important;
}

.status-txt {
  background: #ccc;
  border-radius: 30px;
  color: $white;
  float: right;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 125px;
}

.bar-holder {
  background-color: #ccc;
}

.bar-fill {
  background-color: $white;
}

.ft-progress {
  background-color: $primary-color;
  bottom: 0;
  color: $white;
  padding: 15px;
  position: absolute;
  width: calc(100% - 30px);

  p {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

.active-week a,
.active-week {
  background-color: $primary-color;
  color: $white !important;

  &:hover {
    background-color: $primary-color !important;
  }
}

// .dropdown-week::-webkit-scrollbar-track {
//   background-color: #F5F5F5;
// }

// .dropdown-week::-webkit-scrollbar {
//   background-color: #F5F5F5;
//   width: 9px;
// }

// .dropdown-week::-webkit-scrollbar-thumb {
//   background-color: $primary-color;
// }

.modal-add-task {
  .modal-content {
    width: 550px;
  }

  .modal-header {
    text-align: left;
  }
}

.add-task-form,
.description-area {
  padding: 5px 20px 20px;
  text-align: center;
}

.add-task-form,
.description-txt {
  textarea {
    height: 175px;
    overflow: auto;
    resize: none;
  }
}

.select-cell {
  margin: 20px 0;
}

.date-select {
  label {
    color: #434242;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 25px 0 0;
  }
}

.date-cell {
  border-bottom: 1px solid #dedede;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  padding: 12px 8px;
  position: relative;
  text-align: left;
  width: 109px;

  i {
    color: #a9a8a8;
    font-size: 18px;
    position: absolute;
    right: 10px;
  }
}

.add-task-form {
  button {
    width: 50%;
  }
}

.dropdown-date {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  bottom: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  max-height: 200px;
  overflow: auto;
  padding: 10px 0;
  position: absolute;
  top: inherit;
  width: 109px;

  li {
    color: #333;
    cursor: pointer;
    line-height: 1.42857143;
    padding: 3px 20px;

    &:hover {
      background-color: $list-hover;
      transition: all ease .5s;
    }

    &:first-child {
      cursor: not-allowed;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.dropdown-week {
  background-color: $white;
  border: 1px solid $primary-color;
  display: none;
  height: 373px;
  left: 50%;
  margin-top: 10px;
  overflow: auto;
  position: absolute;
  right: -50%;
  text-align: center;
  transform: translate(-50%);
  width: 250px;
  z-index: 999;

  ul li {
    border-bottom: 1px solid #e9f4ff;

    &:hover {
      background-color: $list-hover;
      transition: all ease .5s;
    }

    a {
      color: #4d4d4d;
      cursor: pointer;
      display: block;
      font-size: 15px;
      padding: 15px 10px;
    }
  }
}

.load-more {
  background-color: #808080;
  color: $white;
  cursor: pointer;
  font-weight: 500;
  padding: 5px;
  text-align: center;

  &:hover {
    background-color: #808080 !important;
  }
}

.dd,
.mm,
.yy {
  display: none;
}

.success-btn {
  background-color: $success;
  border: 1px solid $success;
}

.description-hd {
  text-align: left;

  .task-status {
    .btn-border {
      border: 1px solid $black;
    }

    button {
      &:hover {
        background-color: $success;
        border: 1px solid $success;
      }
    }

    p {
      color: $light-font !important;
      font-size: 18px !important;
      text-align: center;
    }
  }

  p {
    color: $warning;
    font-size: 15px;
    font-weight: 400;
  }

  span {
    color: $black;
    font-size: 18px;
    font-weight: 300;
  }
}

.subject {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

input {
  &:disabled {
    background-color: transparent;
  }
}

textarea {
  &:disabled {
    background-color: transparent;
  }
}

.date-label {
  color: $primary-color;
  font-size: 14px;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 12px;
}

.set-date {
  position: relative;
  width: 45%;

  input {
    font-size: 14px;
    padding: 12px 18px 12px 95px;
    width: 45%;
  }
}

.date-display {
  margin: 20px 0;
}

.description-txt {
  text-align: left;
}

.file-name {
  color: $primary-color;
  float: left;
  font-size: 16px;
}

.file-upload {
  border-bottom: 1px solid $input;
  padding: 15px 12px;
  position: relative;

  span {
    float: right;
  }
}

.attached-files {
  margin: 15px 0 0;
  text-align: left;

  p {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 2px;
  }

  a {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }

  span {
    font-size: 14px;
    text-decoration: none !important;
  }
}

.file-desc {
  margin-left: 10px;
}

.file-left,
.file-right {
  margin-bottom: 20px;
}

.file-right {
  margin-right: 50px;
}

.no-task {
  height: 500px;
  width: 100%;
  position: relative;
  .no-task-description{
    padding: 150px 0 0 10%;
    p {
      color: #333;
      font-size: 14px;
      margin: 0;
    }
    a {
      color: $primary-color;
      cursor: pointer;
    }

    &:hover {
      color: #20568d;
      transition: all ease .5s;
    }
  }
}
.mCSB_scrollTools_vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  opacity: 1 !important;
  width: 8px !important;
  background-color: #f9f9f9 !important;
  opacity: .9 !important;
}
.mCSB_dragger_bar{
  width: 100% !important;
  border-radius: 0 !important;
  background: #2671be !important;
}
.ps__scrollbar-y-rail {
  background-color: #f9f9f9 !important;
  opacity: .9 !important;
  width: 8px !important;

  .ps__scrollbar-y {
    background-color: $primary-color !important;
    border-radius: 0 !important;
    cursor: pointer;
    right: 0 !important;
    width: 8px !important;
  }
}

.ps__scrollbar-y-rail {
  &:hover {

    .ps__scrollbar-y {
      background-color: $primary-color;
      border-radius: 0 !important;
      right: 0 !important;
      width: 8px !important;
    }

  }
}

.data-header {
  height: 38px;
}

@media (max-width: 1280px) {
.main {
  width: 1280px;
}
}
