body {
	font-family: $roboto;
	margin: 0;
	padding: 0;
	background-color: $body-bg;
 }

ul {
	margin: 0;
	padding: 0;
 }
h1, h2, h3, h4, h5, h6{margin: 0;}
li {list-style: none;}
button:focus, a:focus{outline: none;}
:focus{outline: none !important;}
::-webkit-input-placeholder {
    font-family: $roboto;
}
:-moz-placeholder {
    font-family: $roboto;
}
::-moz-placeholder {
    font-family: $roboto;
}
:-ms-input-placeholder {
    font-family: $roboto;
}

::-webkit-textarea-placeholder {
    font-family: $roboto;
}
:-moz-placeholder {
    font-family: $roboto;
}
::-moz-placeholder {
    font-family: $roboto;
}
:-ms-textarea-placeholder {
    font-family: $roboto;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.clear{
	float: none;
	margin: 0;
	padding: 0;
	clear: both;
}
.main {
	background-color: $body-bg;
	height: 100%;
	width: 100%;
 }

.login-box {
	background: $white;
	border-top: 4px solid $primary-color;
	margin: 50px auto 10px;
	padding: 14px 0 40px;
	position: relative;
	width: 585px;
	z-index: 9;
 }

.logo {text-align: center;}

.login-box h1 {
	border-bottom: 1px solid $primary-color;
	font-size: 90px;
	font-weight: 100;
	margin: 40px 0 15px;
	padding: 0 80px;
 }

.form-inner {padding: 0 80px; position: relative;}

	.form-inner h2 {
		color: $black;
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 25px;
	 }

.custom-input {
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	border-bottom: 1px solid $input !important;
	border: none;
	color: $black;
	font-size: 14px;
	outline: none;
	padding: 12px 8px 15px;
	transition: all 0.4s ease-in-out 0s;
	width: calc(100% - 16px);
 }
.custom-input:focus{border-bottom: 1px solid $primary-color !important; transition: all ease 0.3s;}
.remember-me {margin: 30px 0 25px;}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	left: -9999px;
	position: absolute;
 }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	cursor: pointer;
	padding-left: 1.95em;
	position: relative;
 }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	background: #fff;
	border-radius: 3px;
	border: 2px solid #e1dede;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	content: '';
	height: 14px;
	left: 0;
	position: absolute;
	top: 0;
	width: 14px;
 }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	background: url(../img/check.png) no-repeat #72cc72;
	content: '';
	height: 9px;
	left: 2px;
	position: absolute;
	top: 5px;
	transition: all .2s;
	width: 12px;
 }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
 }

[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
 }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	background-color: #ddd;
	border-color: #bbb;
	box-shadow: none;
 }

[type="checkbox"]:disabled:checked + label:after {color: #999;}

[type="checkbox"]:disabled + label {color: #aaa;}

.remember-me {position: relative;}

	.remember-me label {
		color: #404040;
		font-size: 12px;
		font-weight: 400;
		padding: 3px 30px;
	 }

.round-btn {
	background: $primary-color;
	border-radius: 30px;
	border: none;
	color: $white;
	cursor: pointer;
	margin-right: 15px;
	padding: 6px 25px;
	border:2px solid $primary-color;
 }

	.round-btn:hover {
		background-color: $hover-btn;
		transition: all ease .3s;
		border:2px solid $hover-btn;
	 }
.header-controls{
	position: relative;
}
.btn-border{border:2px solid $primary-color; background-color: transparent; color: $black;}
.btn-border:hover{border:2px solid $hover-btn; color: #fff;}
.submit-events span {
	color: #b6b6b6;
	cursor: pointer;
	font-size: 12px;
 }

	.submit-events span:hover {
		color: $primary-color;
		transition: all ease 0.3s;
	 }

.form-footer {
	border-top: 1px solid #f8f8f8;
	margin: 38px 50px 0;
	padding: 30px 40px 0;
	text-align: center;
 }
 .forgot-pwd .form-inner h2{margin: 0 -15px 42px;}

	.form-footer p {
		color: $light-font;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin: 0;
	 }

		.form-footer p strong a{
			color: $primary-color;
			cursor: pointer;
      text-decoration: navajowhite
		 }

			.form-footer p strong a:hover {
				color: $light-font;
				transition: all ease 0.3s;
			 }

.copyright {
	color: $very-light-font;
	font-size: 14px;
	text-align: center;
 }

/*forgot pwd*/
.forgot-pwd .form-inner {margin-top: 40px;}
.forgot-pwd .form-footer{margin: 50px 80px 0 75px; padding: 50px 0 0; text-align: left;}
.forgot-pwd .submit-events {
	margin: 20px 0 40px;
	text-align: center;
 }

	.forgot-pwd .form-footer h2 {
		color: $primary-color;
		font-size: 19px;
		font-weight: 400;
    margin-bottom: 10px;
	 }
  .forgot-pwd .form-footer .lasttext{
    margin-top: 10px;
  }
	.forgot-pwd .form-footer a {
		color: $light-font;
		cursor: pointer;
		font-weight: 500;
    text-decoration: none;
	 }
   .forgot-pwd .form-footer a:hover {
		text-decoration: underline;
	 }

.back {
	font-size: 19px !important;
	margin: 50px 0 0  !important;
	text-align: center;
 }

	.back span {
		color: $clr-highlight !important;
    transition: all 0.5s ease;
		cursor: pointer;
	 }
   .back span:hover{
		color: $primary-color !important;
  }

/*error*/
.p-error::-webkit-input-placeholder {color: $danger;}

.p-error::-webkit-input-placeholder {color: $danger; /* Chrome/Opera/Safari */}

.p-error::-moz-placeholder {color: $danger; /* Firefox 19+ */}

.p-error:-ms-input-placeholder {color: $danger; /* IE 10+ */}

.p-error:-moz-placeholder {color: $danger; /* Firefox 18- */}

/*dashboard*/
.header {
	background: $white;
	border-bottom: 2px solid #dbdbdb;
	border-top: 4px solid $primary-color;
	padding: 5px 0 3px;
	position: relative;
 }

.settings {
	cursor: pointer;
	position: absolute;
	right: 40px;
	top: 7px;
 }
.announcements {
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 3px;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 2px solid #2671be;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    color: #2671be;
}
.announcements .notification{position: absolute; top: -6px; right:-16px;}
.logout {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 7px;
 }

.container {
	margin: 0 auto;
	position: relative;
	width: 1250px;
	padding: 0 15px;
 }

/*sidebar*/
.nav-sidebar {
	background: $white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	float: left;
	height: 100%;
	margin-right: 22px;
	width: 223px;
 }

.dashboard-main {
	background: $white;
	border: 1px solid #d2d2d2;
	height: 100%;
	overflow: hidden;
	position: relative;
 }
.fixed-header tbody::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.fixed-header tbody::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.fixed-header tbody::-webkit-scrollbar-thumb
{
	background-color: $primary-color;
}

.subject-list::-webkit-scrollbar-track
{
	background-color: #69d3e9;
}

.subject-list::-webkit-scrollbar
{
	background-color: #F5F5F5;
  height: 3px;
}
.subject-list::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}

.fixed-header tbody tr td, .fixed-header th{width: 258px;}

.profile {
	background: $primary-color;
	color: $white;
	padding: 34px 25px 40px;
	text-align: center;
 }

.profile-pic {
	background-color: $white;
	border-radius: 50%;
	height: 80px;
	margin: 0px auto;
	overflow: hidden;
	width: 80px;
 }
.profile-pic img {width: 100%; max-width: 100%;}
.profile h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 18px 0 15px;
 }

.profile p {font-size: 15px; margin: 0;}

.nav {
	margin-top: 1px;
	text-align: center;
 }

.nav li a {
	border-bottom: 1px solid #f8f8f8;
	color: $light-font;
	display: block;
	font-size: 15px;
	padding: 15px 5px;
	text-decoration: none;
}
.nav li a:hover {
    background: #e7f0f9;
    color: #000;
    transition: all ease 0.5s;
}
.nav li .active:hover {
    background: $primary-color;
    color: #000;
}
.active {
	background-color: $primary-color;
	color: $white !important;
	transition: all ease 0.3s;
 }

.inner-main {
	height:calc(768px - 53px - 60px);
	padding: 20px 0 0;
 }

.dashboard-head {
	background-color: $primary-color;
	color: $white;
	padding: 10px 20px;
 }

.dashboard-table table {
	border-collapse: collapse;
	width: 1003px;
	table-layout: fixed;
 }
 .modal-body table{border-collapse: collapse;
 	width: 100%;
 }
.fixed-header thead tr{display: block; position: relative;}
.dashboard-table th, td{
	font-size: 15px;
	font-weight: 500;
	padding: 10px;
	text-align: center;
 }
 .modal-body th, td{
 	font-size: 15px;
	font-weight: 400;
	padding: 10px;
	text-align: center;
}
.fixed-header tbody {
    display: block;
    overflow: auto;
    height: 615px;
}

 .lft {
 	text-align: left;
 }
.lft-subject {
 	text-align: left !important;
 }
.lft-subject i{
  margin-left: 5px;
}
.lft-subject a{
  color: white;
}
/*tr:nth-child(even){background-color: #f2f2f2}*/
.dashboard-table th {
	background-color: $primary-color;
	color: $white;
	font-size: 15px;
	font-weight: 400;
 }

.dashboard-table tr {
	border-bottom: 1px solid #eeeeee;
 }
.dashboard-table td p{position: relative;}
/*.performance tr:hover {background-color: #e7f0f9; transition: all ease 0.5s;}*/
/*.modal-body tr:hover {background-color: #e7f0f9; transition: all ease 0.5s;}*/
.table-profile-pic {
  border-radius: 50%;
  display: inline-block;
  height: 47px;
  overflow: hidden;
  position: relative;
  width: 47px;
}
.table-profile-pic .teacher-image {
  opacity: 0;
  transition: all 1s ease;
}
.table-profile-pic .teacher-image.teacher-image-active {
  opacity: 1;
  }
.table-profile-pic img{
  width: 100%;
  max-width: 100%;
  position: absolute;
}
.subject-name {
	display: inline-block;
	left: 10px;
	position: relative;
  vertical-align: top;
  top: 5px;
  width: 70%;
 }

	.subject-name p {
		color: $light-font;
		font-size: 16px;
		font-weight: 500;
		margin: 0;
	 }

.subject-name span {
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
    width: 100%; }

       .subject-name .second{
      opacity: 0;
      transition: all 1s ease;
    }
.subject-name .second.subject-name-active{
  opacity: 1;
}
    .subject-name .second{
      opacity: 0;
      transition: all 1s ease;
    }
.subject-name .second.subject-name-active{
  opacity: 1;
}


.success {color: $success;}

.black {color: $black;}

/* The Modal (background) */
.modal {
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
	display: block; /* Hidden by default */
	height: 100%; /* Full height */
	left: 0;
	overflow: auto; /* Enable scroll if needed */
	padding-top: 30px; /* Location of the box */
	position: fixed; /* Stay in place */
	top: 0;
	width: 100%; /* Full width */
	z-index: 1; /* Sit on top */
	display: none;
 }
.modal.in {
  display: block;
}
/* Modal Content */
.modal-content {
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: animatetop;
	animation-duration: 0.4s;
	animation-name: animatetop;
	background-color: #fefefe;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin: auto;
	padding: 0;
	position: relative;
	width: 1200px;
 }


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

	/* The Close Button */
.close {
		background: rgba(48,48,48,1);
		border-radius: 50px;
		color: white;
		cursor: pointer;
		float: right;
		font-size: 24px;
		font-weight: lighter;
		height: 37px;
		position: absolute;
		right: -15px;
		text-align: center;
		top: -18px;
		width: 37px;
		line-height: 30px;
	 }
.close:hover{background-color: rgba(48,48,48,0.8); transition: all ease 0.3s;}
	.modal-header {
		background-color: $primary-color;
		padding: 9px 23px;
		position: relative;

    text-align: center;
	 }

		.modal-header p {
			color: $white;
			font-size: 18px;
			font-weight: 400;
			margin: 0;
		 }

	.modal-table th {
		background-color: #f4f4f4;
		color: #434242;
		font-size: 12px;
	 }
	.modal-table .lft-subject{padding-left: 25px;}
	.modal-table .table-profile-pic {
		background-color: transparent;
		border: 1px solid $primary-color;
		height: 70px;
		width: 70px;
	 }

	.modal-table .subject-name {top: 20 px;}
	.modal-table tr{border-bottom:1px solid #eeeeee !important;}
	.rating-outer {
		display: inline-block;
		margin: 0px auto;
		position: relative;
		vertical-align: middle;
		width: 100px;
		height: 70px;
	 }
	.rating-outer p{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: 0;
	    transform: translate(-50%, -50%);
	    width: 30px;
	}
	.rating-outer .down{position: absolute; top: 10px; left: 3px;}
	.rating-outer .up{position: absolute; top: -19px; left: 3px;}
	.value {
		font-size: 20px;
		font-weight: bold;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	 }

	.modal-table svg:not(:root) {overflow: hidden;}

	.danger {color: $danger}

	.arrow-bottom {
		margin-top: 35px;
		text-align: center;
	 }

	.down, .up{
		position: absolute;
		font-size: 20px;
		margin-left: 8px;
		top: -3px;
	 }

#login-error {
	color: $danger;
	font-size: 13px;
	position: absolute;
	top: -18px;
 }
#username-error{
 	color: $danger;
	font-size: 13px;
	position: absolute;
	left: 0;
	right: 0;
	top: 105%;
	text-align: center;
 }
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #f1f1f1;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
.highcharts-container {
      margin: 0 auto;
}

.class-zero{
  color: #3c3c3c ;
}
.class-one{
  color: #6bc04b ;
}
.class-two{
  color: #ff7800 ;
}
.class-three{
  color: #ff3c1f ;
}
.loader{
  display: none;
  position: absolute;
  top: 0;
  background-color: #2671be ;
  width: 100%;
  opacity: 1;
  height: 100%;
  transition: all ease 0.5s;
}
.loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-table .subject-name {top: 15px;}
#logout, .close-modal{
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
#logout.show-logout, .close-modal.show-logout{
  z-index: 9999;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.close-modal .modal-dialog{
	padding: 30px 70px;
    width: auto;
    border: 1px solid #d3d3d3;
    border-radius: 0;
}
.modal-dialog span{
	color: $primary-color;
    font-weight: 500;
    font-size: 16px;
}

.modal-dialog{
    padding:10px 25px 39px;
    width: 215px;
    background: white;
    text-align: center;
    border-radius: 0;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.23);
    border: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    position: absolute;
}
.modal-dialog p{
  font-size: 14px;
    color: #434242;
    text-align: center;
    margin: 8px 0 30px;
}

.notification{
    display: inline-block;
    height: 21px;
    width: 21px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
}
#cookie-delete{
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.5);
  top: 0;
  transition: all 0.5s ease;
  display: none;
}
#cookie-delete .modal-dialog{
  width: 430px;
  padding: 15px 25px;
  text-align: left;
}
#cookie-delete .modal-dialog p{
  text-align: left;
}
#cookie-delete .modal-dialog-footer{
  text-align: center
}
#cookie-delete h4{
  color: #165391;
  font-size: 18px;
}
#server-failed{
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    top: 0;
    transition: all 0.5s ease;
    display: none;
}
#network-failed{
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    top: 0;
    transition: all 0.5s ease;
    opacity:  0;
    display: none;
}
#network-failed h4{
  color: #93b8df;
  margin-bottom: 20px;
  font-size: 18px;
}
#network-failed .modal-dialog{
  width: 280px;
  padding: 15px 10px;
}
#network-failed .modal-dialog p{
  margin-bottom: 30px;
}
#server-failed .round-btn{margin-right: 0;}
#server-failed .modal-dialog{padding:25px;}
.graph-td{position: relative;}
.graph-icon{
	position: absolute;
	right: 30px;
	top: 20px;
	height: 30px;
    width: 30px;
    background: #2671be;
    border-radius: 50px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.info{
    position: absolute;
    font-size: 20px;
    color: #2671be;
    cursor: pointer;
    top: 45px;
    right: 50px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 255px;
    background-color: #2671be;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 0px;
    margin-left: -128px;
    font-weight: 300;
    font-size: 13px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $primary-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: all ease 0.5s;
}
.subject-list{
  width: 1160px;
  display: inline-block;
  overflow: auto;
  padding-bottom: 5px;
  white-space: nowrap;
}
.subject-list p{
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: none;
  border-bottom: 2px solid transparent;
}
.subject-list p.active{
  font-weight: 900;
  font-size: 17px;
  color: #8fc6ff !important;
}
/*tasks start*/
.tasks {
	position: relative;
	height: 100%;
}
.task-hd{
	padding: 8px 15px;
}
.task-hd h3 {
    font-size: 20px;
    color: $black;
    font-weight: 500;
    margin-top: 8px;
    float: left;
}
.header-right{
	float: right;
}
.header-search{
	float: left;
	position: relative;
	width: 295px;
}
.search-task {
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 36px;
    border: solid 1px $primary-color;
    z-index: 99;
    display: none;
    left: 0;
}
.user-char{
	text-align: center;
	padding: 10px;
    border-bottom: 1px solid #d7d7d7;
    background: #fff;
    font-size: 14px;
}
.clear-search{
	text-align: center;
    cursor: pointer;
    color: $white;
    background-color: gray;
    padding: 5px;
    display: block;
    font-size: 14px;
}
.search-area{
	float: left;
    width: 295px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    position: relative;
}
.search-after{
	padding: 15px 12px;
	cursor: pointer;
}
.search-after p{
	margin: 0;
	font-size: 14px;
	margin-bottom: 5px;
}
.s-name{
	color: $very-light-font;
	margin-right: 35px !important;
}
.search-area input{
    padding: 3px 12px;
    margin: 7px 0;
    width: 230px;
    border: none;
    border-right: 1px solid #d6d6d6;
    outline: none;
    font-size: 14px;
    border-radius: 0px;
    float: left;
    cursor: pointer;
}
.search-area button {
    float: left;
    border: none;
    outline: none;
    background: none;
    padding: 0 0 0 12px;
    color: #7c7c7c;
    height: 35px;
}
.create-task{
	margin: 11px 0 0 12px;
	float: left;
	cursor: pointer;
}
.create-task a{
	float: left;
    color: #363636;
    font-size: 15px;
    margin: 0 12px 0 0;
    text-decoration: none;
}
.create-task a:hover{
	text-decoration: underline;
	color: $primary-color;
	transition: all ease 0.5s;
}
.blue-fix-hd{
	background: $primary-color;
    height: 24px;
    padding: 7px 15px;
    text-align: center;
}
.blue-fix-hd a{
	font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}
.blue-fix-hd a:hover{
	transition: all ease 0.5s;
	color: $black;
}
.next{
	float: right;
	cursor: pointer;
}
.prev{
	float: left;
	z-index: 999;
	cursor: pointer;
}
.week-dp{
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.week-dp i{
    font-size: 15px;
    position: relative;
    top: -4px;
    right: -4px;
}
.table-task-hd{
	background: #f4f4f4;
    padding: 5px 0px;
    font-size: 12px;
    color: #434242;
    text-align: center;
}
.task-table {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.task-table::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.task-table::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.task-table::-webkit-scrollbar-thumb
{
	background-color: $primary-color;
}
.task-table td{
	text-align: left;
	padding: 12px 15px;
}
.task-table td p{
	font-size: 15px;
	color: $success;
	margin: 0;
	font-weight: 400;
}
.task-table td span{
	font-size: 18px;
	color: $black;
	font-weight: 300;
}
.task-table tr{
	cursor: pointer;
}
.sub{
	font-size: 15px;
	font-weight: 400;
	color: $very-light-font;
	position: relative;
    top: -10px;
}
.status{
	text-align: right !important;
}
.status-txt{
    background: #ccc;
    width: 125px;
    height: 32px;
    text-align: center;
    float: right;
    line-height: 32px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.ft-progress{
	position: absolute;
	bottom: 0;
	background-color: $primary-color;
	width:calc(100% - 30px);
	padding: 15px;
	color: $white;
}
.bar-holder{
	background-color: #ccc;
}
.bar-fill{
	background-color: $white;
}
.ft-progress p{
	margin-bottom: 5px;
	margin-top: 0;
}
.dropdown-week{
	width: 250px;
    height: 373px;
    text-align: center;
    position: absolute;
    border: 1px solid $primary-color;
    margin-top: 10px;
    background-color: $white;
    left: 50%;
    right: -50%;
    transform: translate(-50%);
    overflow: auto;
    z-index: 999;
    display: none;
}
.dropdown-week ul li a{
	display: block;
    font-size: 15px;
    color: #4d4d4d;
    padding: 15px 10px;
    cursor: pointer;
}
.dropdown-week ul li{
    border-bottom: 1px solid #e9f4ff;
}
.load-more{
	text-align: center;
    cursor: pointer;
    color: white;
    background-color: gray;
    padding: 5px;
    font-weight: 500;
}
.active-week a, .active-week{
	background-color: $primary-color;
	color: $white !important;
}
.active-week:hover{
	background-color: $primary-color !important;
}
.dropdown-week::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.dropdown-week::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.dropdown-week::-webkit-scrollbar-thumb
{
	background-color: $primary-color;
}
.modal-add-task .modal-header{
	text-align: left;
}
.modal-add-task .modal-content{
	width: 550px;
}
.add-task-form, .description-area{
	padding: 5px 20px 20px;
	text-align: center;
}
.add-task-form textarea, .description-txt textarea{
	resize: none;
	height: 175px;
	overflow: auto;
}
.select-cell{
	margin: 20px 0;
}
.date-select label{
	float: left;
    font-size: 14px;
    color: #434242;
    font-weight: 400;
    margin: 15px 25px 0 0;
}
.date-cell{
    font-size: 14px;
    color: $black;
    padding: 12px 8px;
    border-bottom: 1px solid #dedede;
    display: inline-block;
    width: 109px;
    margin-left: 15px;
    position: relative;
    text-align: left;
}
.date-cell i{
	font-size: 18px;
	position: absolute;
	right: 10px;
	color: #a9a8a8;
}
.add-task-form button{
	width: 50%;
}
.dropdown-date{
	position: absolute;
	bottom: 100%;
	top: inherit;
	width: 109px;
	max-height: 200px;
	border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: $white;
    overflow: auto;
    padding: 10px 0;
}
.dropdown-date li{
	padding: 3px 20px;
	line-height: 1.42857143;
    color: #333;
    cursor: pointer;
}
.dropdown-date li:first-child{
	cursor: not-allowed;
}
.dropdown-date li:first-child:hover{
	background-color: $white;
}
.dropdown-date li:hover, .dropdown-week li:hover{
	background-color: $list-hover;
	transition: all ease 0.5s;
}
.load-more:hover{
	background-color: grey !important;
}
.dd, .mm, .yy{display: none;}
.success-btn{
	background-color: $success;
	border: 1px solid $success;
}
.task-status .btn-border{
	border: 1px solid $black;
}
.task-status button:hover{
	background-color: $success;
	border: 1px solid $success;
}
.description-hd .task-status p{
	font-size: 18px !important;
	color: $light-font !important;
	text-align: center;
}
.description-hd p {
    font-size: 15px;
    color: $warning;
    font-weight: 400;
}
.description-hd span {
    font-size: 18px;
    color: #000;
    font-weight: 300;
}
.description-hd{
	text-align: left;
}
.subject{
	font-size: 16px;
	margin: 10px 0;
	font-weight: 500;
}
input:disabled, textarea:disabled{
	background-color: transparent;
}
.date-label{
	pointer-events: none;
    color: $primary-color;
    font-size: 14px;
    left: 12px;
    position: absolute;
    top: 12px;
}
.set-date input{
	padding: 12px 18px 12px 95px;
    font-size: 14px;
    width: 45%;
}
.set-date{
	position: relative;
	width: 45%;
}
.date-display{
	margin: 20px 0;
}
.description-txt{
	text-align: left;
}
.file-upload{
	padding: 15px 12px;
	position: relative;
	border-bottom: 1px solid $input;
}
.file-name {
    float: left;
    font-size: 16px;
    color: $primary-color;
}
.file-upload span{float: right;}
.attached-files{
	text-align: left;
	margin: 15px 0 0;
}
.attached-files p{
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 2px;
}
.attached-files a{
	text-decoration: underline;
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
}
.attached-files span{
	text-decoration: none !important;
	font-size: 14px;
}
.file-desc{
	margin-left: 10px;
}
.file-left, .file-right{
	margin-bottom: 20px;
}
.file-right{
	margin-right: 50px;
}
.no-task{
	padding: 150px 0 0 10%;
}
.no-task p{
	margin: 0;
	font-size: 14px;
    color: #333;
}
.no-task p a{
	color: $primary-color;
	cursor: pointer;
}
.no-task p a:hover{
	color: #20568d;
	transition: all ease 0.5s;
}
