<div class="tasks dashboard-table">
  <div class="task-hd">
    <h3>Weekly Tasks Due</h3>
    <div class="header-right">
      <div class="header-search">
        <div class="search-area">
          <input type="text" [(ngModel)]="searchTask" (keyup.enter)="searchStudentTasks($event)" (click)="searchTextValidation($event)"
            (ngModelChange)="searchTextValidation(undefined)" placeholder="Search a task: Type task title">
          <button id="tasksrch" (click)="searchStudentTasks($event)"><i aria-hidden="true" class="fa fa-search"></i></button>
        </div>
        <div class="search-task" id="searchTask">
          <div class="user-char" id="userChar"></div>
          <div *ngFor="let sd of searchResultData" class="search-after">
            <div class="f-left">
              <p class="success p-name">{{sd.TaskType}}</p><span>{{sd.Title}}</span>
            </div>
            <p class="f-right s-name">{{sd.SubjectName}}</p>
            <div class="clear"></div>
          </div>
          <div class="clear-search" (click)="clearSearch()"><b>Clear Search</b></div>
        </div>
      </div>
      <div class="create-task">
        <a>Create Task</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="blue-fix-hd" *ngIf="weekList.length != 0">
    <div class="prev" (click)="loadMorePreviousWeekTask()">
      <a><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
    </div>
    <div class="week-dp" (click)="openWeekList($event)">
      <a>{{weekList[activeWeekIndex].displayStartDate}} - {{weekList[activeWeekIndex].displayEndDate}} <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <div class="dropdown-week" id="dropdown-week">
        <ul>
          <li class="load-more" (click)="loadMorePreviousWeek($event)">Load More</li>
          <li *ngFor="let i of weekList;let in = index" [ngClass]="{'active-week': in == activeWeekIndex}">
            <a (click)="getWeekTaskLIst(in)">{{i.displayStartDate}} - {{i.displayEndDate}}</a>
          </li>
          <li class="load-more" (click)="loadMoreNextWeek($event)">Load More</li>
        </ul>
      </div>
    </div>
    <div class="next" (click)="loadMoreNextWeekTask()">
      <a>Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="task-table" *ngIf="taskList.length != 0 && taskList[0].TotalTaskCount != 0">
    <div *ngFor="let t of taskList[0].DayTasks;let in = index">
      <div class="table-task-hd" *ngIf="t.Tasks.length != 0">
        {{t.Date | dateFormat }}
      </div>
      <table>
        <tbody>
          <tr *ngFor="let task of t.Tasks;" (click)="openTaskDescription(task, $event)">
            <td width="150">
              <p>{{task.TaskType}}</p><span>{{task.Title}}</span></td>
            <td class="sub">{{task.SubjectName}}</td>
            <td class="status">
              <div class="status-txt">New</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clear"></div>
    </div>
  </div>
  <div *ngIf="taskList[0] != undefined && taskList[0].TotalTaskCount == 0">
    <p>Tasks Due this week.</p>
    <p>Click on Create Task to set a task</p>
  </div>
  <div class="ft-progress">
    <p class="f-left">Weekly Progress</p>
    <p class="f-right">2/3</p>
    <div class="clear"></div>
    <div class="bar-holder">
      <div class="bar-fill" style="height:10px;width:25%"></div>
    </div>
  </div>

  <!-- add task modal -->
  <div class="modal modal-add-task" id="add-task">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">×</span>
        <p>Add Task</p>
      </div>
      <div class="modal-body">
        <div class="add-task-form">
          <input type="" name="" class="custom-input" placeholder="Title">
          <textarea class="custom-input" placeholder="Description" maxlength="2000"></textarea>
          <div class="date-select">
            <label>Due Date</label>
            <div class="select-cell">
              <div class="date-cell date">
                2 <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date dd">
                  <ul>
                    <li>dd</li>
                    <li>1</li>
                    <li class="active-week">2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                  </ul>
                </div>
              </div>
              <div class="date-cell month">
                Aug <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date mm">
                  <ul>
                    <li>mm</li>
                    <li>Jan</li>
                    <li>Feb</li>
                    <li>Mar</li>
                    <li>Apr</li>
                    <li>May</li>
                    <li>Jun</li>
                    <li>Jul</li>
                    <li class="active-week">Aug</li>
                    <li>Sep</li>
                    <li>Oct</li>
                    <li>Nov</li>
                    <li>Dec</li>
                  </ul>
                </div>
              </div>
              <div class="date-cell year">
                2017 <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date yy">
                  <ul>
                    <li>yyyy</li>
                    <li>2016</li>
                    <li class="active-week">2017</li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="round-btn" align="center">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- task description modal -->
  <div class="modal modal-add-task modal-task-description" id="task-description">
    <div class="modal-content" (click)="preventDefault($event)">
      <div class="modal-header">
        <span class="close" (click)="closeTaskDescription()">x</span>
        <p>Task Description</p>
      </div>
      <div class="modal-body">
        <div class="description-area">
          <div class="description-hd">
            <div class="f-left">
              <p>Personal Task</p>
              <span>School Planner</span>
              <div class="subject">Subject Name</div>
              <div class="teacher-name">Teacher Name: Mrs D Darbey</div>
            </div>
            <div class="f-right task-status">
              <p>Completed?</p>
              <button class="round-btn success-btn">Yes</button> <button class="round-btn btn-border">No</button>
            </div>
            <div class="clear"></div>
          </div>
          <div class="date-display">
            <div class="set-date f-left">
              <input type="text" value="11 Jul 2017" disabled="" class="custom-input">
              <div class="date-label">
                <i class="fa fa-calendar" aria-hidden="true"></i> Set Date
              </div>

            </div>
            <div class="set-date f-right">
              <div class="date-label">
                <i class="fa fa-calendar" aria-hidden="true"></i> Due Date
              </div>
              <input type="text" value="18 Jul 2017" disabled="" class="custom-input">
            </div>
            <div class="clear"></div>
          </div>
          <div class="description-txt">
            <p>Description</p>
            <textarea class="custom-input" disabled=""></textarea>
          </div>
          <div class="file-upload">
            <div class="file-name">Attachment</div>
            <span><img src="../assets/img/attach_pic.png" alt=""></span>
            <div class="clear"></div>
          </div>
          <div class="attached-files">
            <div class="f-left file-left">
              <div class="f-left">
                <img src="../assets/img/attach_pic.png" alt="">
              </div>
              <div class="f-right file-desc">
                <p>Filename.jpg</p>
                <a>Download</a> <span>(2 MB)</span>
              </div>
            </div>
            <div class="f-right file-right">
              <div class="f-left">
                <img src="../assets/img/attach_pic.png" alt="">
              </div>
              <div class="f-right file-desc">
                <p>Filename.jpg</p>
                <a>Download</a> <span>(2 MB)</span>
              </div>
            </div>
            <div class="clear"></div>
            <div class="f-left file-left">
              <div class="f-left">
                <img src="../assets/img/attach_pic.png" alt="">
              </div>
              <div class="f-right file-desc">
                <p>Filename.jpg</p>
                <a>Download</a> <span>(2 MB)</span>
              </div>
            </div>
            <div class="f-right file-right">
              <div class="f-left">
                <img src="../assets/img/attach_pic.png" alt="">
              </div>
              <div class="f-right file-desc">
                <p>Filename.jpg</p>
                <a>Download</a> <span>(2 MB)</span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
