<div class="tasks dashboard-table">
  <div class="task-hd">
    <h3>Weekly Tasks Due</h3>
    <div class="header-right">
      <div class="header-search">
        <div class="search-area">
          <input type="text" [(ngModel)]="searchTask" (keyup.enter)="searchStudentTasks($event)" (click)="searchTextValidation($event)"
            (ngModelChange)="searchTextValidation(undefined)" placeholder="Search a task: Type task title">
          <button id="tasksrch" (click)="searchStudentTasks($event)"><i aria-hidden="true" class="fa fa-search"></i></button>
        </div>
        <div class="search-task" id="searchTask">
          <div class="user-char" id="userChar"></div>
          <div *ngFor="let sd of searchResultData" class="search-after">
            <div class="f-left">
              <p class="success p-name">{{sd.TaskType}}</p><span>{{sd.Title}}</span>
            </div>
            <p class="f-right s-name">{{sd.SubjectName}}</p>
            <div class="clear"></div>
          </div>
          <div class="clear-search" (click)="clearSearch()"><b>Clear Search</b></div>
        </div>
      </div>
      <div class="create-task">
        <a (click)="createTask($event)">Create Task</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="blue-fix-hd" *ngIf="weekList.length != 0">
    <div class="prev" (click)="loadMorePreviousWeekTask()">
      <a><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
    </div>
    <div class="week-dp" (click)="openWeekList($event)">
      <a>{{weekList[activeWeekIndex].displayStartDate}} - {{weekList[activeWeekIndex].displayEndDate}} <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
      <div class="dropdown-week" id="dropdown-week">
        <ul>
          <li class="load-more" (click)="loadMorePreviousWeek($event)">Load More</li>
          <li *ngFor="let i of weekList;let in = index" [ngClass]="{'active-week': in == activeWeekIndex}">
            <a (click)="getWeekTaskLIst(in)">{{i.displayStartDate}} - {{i.displayEndDate}}</a>
          </li>
          <li class="load-more" (click)="loadMoreNextWeek($event)">Load More</li>
        </ul>
      </div>
    </div>
    <div class="next" (click)="loadMoreNextWeekTask()">
      <a>Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="task-table" *ngIf="taskList.length != 0 && taskList[0].TotalTaskCount != 0">
    <div *ngFor="let t of taskList[0].DayTasks;let in = index">
      <div class="table-task-hd" *ngIf="t.Tasks.length != 0">
        {{t.Date | dateFormat }}
      </div>
      <table>
        <tbody>
          <tr *ngFor="let task of t.Tasks;" (click)="openTaskDescription(task, $event)">
            <td width="150">
              <p>{{task.TaskType}}</p><span>{{task.Title}}</span></td>
            <td class="sub">{{task.SubjectName}}</td>
            <td class="status">
              <div class="status-txt">New</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clear"></div>
    </div>
    <div class="loader" id="task-loader">
      <img src="../../../assets/img/loader.gif">
    </div>
  </div>
  <div *ngIf="taskList[0] != undefined && taskList[0].TotalTaskCount == 0" class="no-task">
    <div class="no-task-description">
      <p><b>No Tasks Due this week.</b></p>
      <p>Click on <a (click)="createTask($event)">Create Task</a> to set a task</p>
    </div>
    <div class="loader" id="task-loader">
      <img src="../../../assets/img/loader.gif">
    </div>
  </div>
  <div class="ft-progress" *ngIf="taskList[0] != undefined">
    <p class="f-left">Weekly Progress</p>
    <p class="f-right">{{taskList[0].CompletedTaskCount}}/{{taskList[0].TotalTaskCount}}</p>
    <div class="clear"></div>
    <div class="bar-holder">
      <div id="bar-fill" class="bar-fill"></div>
    </div>
  </div>

  <!-- add task modal -->
  <div class="modal modal-add-task" id="add-task">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closeModal()">×</span>
        <p>Add Task</p>
      </div>
      <div class="modal-body">
        <div class="add-task-form">
          <input type="text" name="" class="custom-input" placeholder="Title" id="addTaskTitle" (keyup)="changedExtraHandler('addTaskTitle','Title')"
            [(ngModel)]="taskDetails.title">
          <textarea class="custom-input" placeholder="Description" maxlength="2000" id="addTaskDescription" (keyup)="changedExtraHandler('addTaskDescription','Description')"
            [(ngModel)]="taskDetails.description"></textarea>
          <div class="date-select">
            <label>Due Date</label>
            <div class="select-cell">
              <div class="date-cell date">
                {{daysList[todayDay-1]}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date dd">
                  <ul>
                    <li>dd</li>
                    <li *ngFor="let day of daysList" (click)="daySelect(day)">{{day}}</li>
                  </ul>
                </div>
              </div>
              <div class="date-cell month">
                {{monthNames[todayDayMonth-1]}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date mm">
                  <ul>
                    <li>mm</li>
                    <li *ngFor="let month of monthNames" (click)="monthSelect(month)">{{month}}</li>
                  </ul>
                </div>
              </div>
              <div class="date-cell year">
                {{todayDayYear}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="dropdown-date yy">
                  <ul>
                    <li>yyyy</li>
                    <li *ngFor="let year of yearsList" (click)="yearSelect(year)">{{year}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="round-btn" align="center" (click)="saveTask()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="close-modal show-logout" id="confirm-close">
      <div class="modal-dialog">
        <span>Any updated task data will be lost</span>
        <p>Are you sure you want to leave this screen?</p>
        <div class="modal-dialog-footer">
          <button class="round-btn">Yes</button>
          <button class="round-btn btn-border">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- task description modal -->
  <div class="modal modal-add-task modal-task-description" id="task-description">
    <div class="modal-content" (click)="preventDefault($event)" *ngIf="taskDescriptionDetails != undefined">
      <div class="modal-header">
        <span class="close" (click)="closeTaskDescription()">×</span>
        <p>Task Description</p>
      </div>
      <div class="modal-body">
        <div class="description-area">
          <div class="description-hd">
            <div class="f-left">
              <p>{{taskDescriptionDetails.TaskType}}</p>
              <span>{{taskDescriptionDetails.Title}}</span>
              <div class="subject">{{taskDescriptionDetails.SubjectName}}</div>
              <div class="teacher-name">Teacher Name: {{taskDescriptionDetails.TeacherName}}</div>
            </div>
            <div class="f-right task-status">
              <p>Completed?</p>
              <button class="round-btn" (click)="setTaskStatus()" [ngClass]="{' success-btn': taskDescriptionDetails.IsCompleted, 'btn-border' : !taskDescriptionDetails.IsCompleted}">Yes</button>
              <button class="round-btn" (click)="setTaskStatus()" [ngClass]="{' success-btn': !taskDescriptionDetails.IsCompleted, 'btn-border' : taskDescriptionDetails.IsCompleted}">No</button>
            </div>
            <div class="clear"></div>
          </div>
          <div class="date-display">
            <div class="set-date f-left">
              <input type="text" value="{{taskDescriptionDetails.CreatedDate | date : 'd MMM y'}}" disabled="" class="custom-input">
              <div class="date-label">
                <i class="fa fa-calendar" aria-hidden="true"></i> Set Date
              </div>

            </div>
            <div class="set-date f-right">
              <div class="date-label">
                <i class="fa fa-calendar" aria-hidden="true"></i> Due Date
              </div>
              <input type="text" value="{{taskDescriptionDetails.DueDate | date : 'd MMM y'}}" disabled="" class="custom-input">
            </div>
            <div class="clear"></div>
          </div>
          <div class="description-txt">
            <p>Description</p>
            <div [innerHTML]="taskDescriptionDetails.Description | safeHtml"></div>
          </div>
          <div class="file-upload">
            <div class="file-name">Attachment</div>
            <span><img src="../assets/img/attach_pic.png" alt=""></span>
            <div class="clear"></div>
          </div>
          <div class="attached-files" *ngIf="taskDescriptionDetails.Attachments.length != 0">
            <div class="f-left file-left" *ngFor="let a of taskDescriptionDetails.Attachments">
              <div class="f-left">
                <img src="../assets/img/attach_pic.png" alt="">
              </div>
              <div class="f-right file-desc">
                <p>{{a.Name}}</p>
                <a (click)="downloadAttachment(a.Id,a.Name)">Download</a> <span>(2 MB)</span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="attached-files" *ngIf="taskDescriptionDetails.Attachments.length == 0">
            No attachments added.
            <div class="clear"></div>
          </div>
          <button class="round-btn" align="center" [ngStyle]="{'background-color': taskDescriptionDetails.IsSupportRequested ? 'red':'',
            'border':taskDescriptionDetails.IsSupportRequested ? 'none':'',
            'cursor': taskDescriptionDetails.IsSupportRequested ? 'not-allowed':''}" [disabled]="taskDescriptionDetails.IsSupportRequested"
            (click)="requestTeacherSupport(taskDescriptionDetails.Id)">Request Teacher Support</button>
        </div>
      </div>
    </div>
  </div>

  <!-- confirm close modal -->

</div>
